.action-mail
	font-size: 0

	input
		width: 160px
		height: 32px
		padding-left: 10px
		border: 0
		background: #FFF
		outline: 0
		color: $default-text-color
		vertical-align: middle

	.button
		display: inline-block
		width: 32px
		height: 32px
		padding-top: 5px
		background-color: #3b3d40
		vertical-align: middle
		text-align: center
		cursor: pointer

		&:hover
			background: #FFF

		&:before
			content: ''
			display: inline-block
			width: 20px
			height: 20px
			background: url('/pic/design/ico-mail2.svg') 50% 50% no-repeat

		&:hover:before
			background-image: url('/pic/design/ico-mail2-active.svg')
