.application-form
	display: none
	position: absolute
	z-index: 10
	left: 0
	top: 0
	width: 100%
	height: 100%
	background: linear-gradient(to bottom, #8763E6 0, #8763E6 100%)

	&.is-open
		display: block
		opacity: 0
		transition: opacity 0.55s

	&.is-animate
		opacity: 1

	form
		position: absolute
		left: 50%
		top: 50%
		width: 500px
		height: 500px
		margin: -250px 0 0 -250px
		padding: 10px
		background: #FFF
		background-clip: content-box
		border: 10px solid transparentize(#FFF, 0.6)

	h3
		margin: 15px 0
		font-size: 1.4rem
		font-weight: bold
		text-transform: uppercase
		text-align: center

	p
		margin-bottom: 15px
		padding: 0 15px

	input, textarea
		width: 100%
		padding: 15px
		background: #452B8A
		border: 0
		color: #FFF
		font-family: $default-font
		font-size: 1.1rem

	textarea
		height: 100px

	button
		display: block
		margin: 0 auto
		padding: 10px 0
		background: none
		border: 0
		font-weight: bold
		font-size: 1.2rem
		text-transform: uppercase
		color: #FFF
		cursor: pointer
		@include sprite($send-button)

		&:hover
			@include sprite($send-button-active)

	.close
		position: absolute
		top: -10px
		right: -50px
		width: 26px
		height: 22px
		background: url('/pic/design/close.svg') 50% 50% no-repeat
		background-size: cover
		cursor: pointer

.svg-cover
	display: none
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	z-index: 30

	&.is-animating
		display: block

	svg
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%

	path
		fill: #222
