@font-face
	font-family: 'rouble'
	src: local('rouble'), url('/flib/fonts/rouble.woff2') format('woff2'), url('/flib/fonts/rouble.woff') format('woff'), url('/flib/fonts/rouble.ttf') format('truetype')
	font-weight: normal
	font-style: normal
