.footer
	position: absolute
	bottom: 0
	left: 0
	height: 50px
	padding-right: 50px
	background: url('/pic/design/footer.svg') 0 0 no-repeat
	background-size: 100% 100%
	color: #FFF
	z-index: 2

	&__block
		display: inline-block

	.logo-ndv
		padding: 5px 15px 0
		background: #FFF
		vertical-align: middle

	.tel
		padding: 0 10px
		font-size: 1.1rem
		vertical-align: middle

	.request
		position: relative
		width: 260px
		height: 50px
		padding: 0 10px
		line-height: 50px
		vertical-align: middle
		text-align: center
		text-transform: uppercase
		font-size: 1.1rem
		cursor: pointer

		.back
			position: absolute
			left: 0
			top: -1px
			width: 100%
			height: 100%
			z-index: -1

			@-moz-document url-prefix()
				top: 0

		&:hover .back path
			fill: #b0222a

	.social
		position: relative
