.header
	position: absolute
	right: 0
	top: 15px
	width: 55%
	padding-right: 40px
	background: #F2F2F2
	z-index: 3

	@media screen and (max-width: 1050px)
		width: 63.5%

	&:before
		content: ''
		position: absolute
		left: -25px
		top: 0
		width: 100px
		height: 100%
		transform: skewX(-45deg)
		background: #F2F2F2

	nav
		position: relative
		height: 50px
		margin-left: -5px
		padding-right: 20px
		line-height: 50px
		text-transform: uppercase
		font-size: 0.9rem


		a
			color: $text-color
			text-decoration: none

			&:hover
				color: $link-hover-color

		ul
			display: flex
			justify-content: space-around

.secondary-nav-button
	position: absolute
	top: 15px
	right: 0
	width: 50px
	height: 50px
	background: #373B3E
	cursor: pointer
	z-index: 6

	&:before
		content: 'меню'
		position: absolute
		left: 12px
		top: 32px
		font-size: 8px
		z-index: 1
		color: #FFF

	&.closed
		animation: closeButtonAnimation 0.5s

	&:hover i:before
		width: 26px

	i
		position: absolute
		top: 18px
		left: 50%
		width: 26px
		height: 2px
		margin-left: -12px
		background: #FFF

		&:before
			content: ''
			position: absolute
			width: 4px
			height: 2px
			top: 100%
			background: #FFF
			transition: all 0.3s

		&:nth-child(2)
			margin-top: -8px

		&:nth-child(3)
			margin-top: 8px

	&.is-active
		i
			height: 4px
		i:before
			display: none
			width: 26px
		i:nth-child(1)
			animation: middleCloseAnimation 0.1s
			animation-delay: 0.5s
			animation-fill-mode: forwards
		i:nth-child(2)
			animation: topCloseAnimation 1s
			animation-fill-mode: forwards
		i:nth-child(3)
			animation: bottomCloseAnimation 1s
			animation-fill-mode: forwards

.logo
	position: absolute
	left: 15px
	top: 15px
	z-index: 4

	img
		position: relative

@keyframes middleCloseAnimation
	0
		opacity: 1
	100%
		opacity: 0

@keyframes topCloseAnimation
	0
		margin-top: -8px
	50%
		margin-top: 0
		transform: rotate(0)
	100%
		margin-top: 0
		transform: rotate(45deg)

@keyframes bottomCloseAnimation
	0
		margin-top: 8px
	50%
		margin-top: 0
		transform: rotate(0)
	100%
		margin-top: 0
		transform: rotate(-45deg)
