.ico
	display: inline-block
	margin-right: 5px
	vertical-align: middle

	&:before
		content: ''
		display: block

	&.ico-metro:before
		@include sprite($ico-metro)

	&.ico-time:before
		@include sprite($ico-time)

	&.ico-build:before
		@include sprite($ico-build)

	&.ico-24:before
		@include sprite($ico-24)

	&.ico-fb:before
		@include sprite($ico-fb)

	&.ico-fb:hover:before
		@include sprite($ico-fb-active)

	&.ico-vk:before
		@include sprite($ico-vk)

	&.ico-vk:hover:before
		@include sprite($ico-vk-active)

	&.s-vk:before
		@include sprite($s-vk)
	&.s-fb:before
		@include sprite($s-fb)
	&.s-tw:before
		@include sprite($s-tw)
	&.s-google:before
		@include sprite($s-google)
	&.s-ok:before
		@include sprite($s-ok)

	&.ico-search:before
		@include sprite($ico-search)

.svg-ico
	display: inline-block
	margin-right: 7px
	vertical-align: middle
