*
	box-sizing: border-box
	list-style-type: none

body
	background: #999
	font-family: $default-font
	color: $text-color

b
	font-weight: bold

a,
button
	outline: 0

sup
	vertical-align: top
	font-size: 0.7rem

.rouble
	font-family: 'rouble'
	text-transform: lowercase

.about-video
	display: none

.page-viewport
	position: absolute
	overflow: hidden
	width: 100%
	height: 100%
	min-width: 1024px
	min-height: 650px

	&:before
		content: ''
		position: absolute
		left: -20px
		top: -15px
		width: 150px
		height: 150px
		background: radial-gradient(circle at 0% 0%, rgba(0, 0, 0, 0.5) 0, transparent 70%)
		z-index: 3

	&.wh-shadow:before
		left: 0
		width: 200px
		background: radial-gradient(circle at 50% 0%, rgba(255, 255, 255, 0.4) 0, transparent 70%)

	.page
		position: absolute
		width: 100%
		height: 100%
		z-index: 2

.back-1
	background: url('../pic/design/sl-1.jpg') 50% 50% no-repeat
	background-size: cover

.back-2
	background: url('../pic/design/sl-5.jpg') 50% 50% no-repeat
	background-size: cover

.back-3
	background: url('../pic/design/sl-11.jpg') 50% 50% no-repeat
	background-size: cover

.back-4
	background: url('../pic/design/back-doc.jpg') 50% 50% no-repeat
	background-size: cover

.back-5
	background: url('../pic/design/back-blured.jpg') 50% 50% no-repeat
	background-size: cover

.back-6
	background: url('../pic/design/back-mortage.jpg') 50% 50% no-repeat
	background-size: cover
