.gm-style-iw + div
	filter: brightness(3)
	opacity: 1!important
	width: 35px!important
	height: 35px!important
	right: 0!important
	background: url('/pic/design/map-close.svg') 50% 50% no-repeat

	&:hover
		opacity: 0.8!important

	img
		display: none

.balloon-tip
	margin-top: -10px
	z-index: 10

	&:before
		content: ''
		position: absolute
		top: 100%
		left: 50%
		margin-left: -15px
		border: 15px solid transparent
		border-top-color: #a3d726

	&:after
		content: ''
		position: absolute
		top: 100%
		left: 50%
		margin-top: -4px
		margin-left: -18px
		border: 16px solid transparent
		border-top-color: #FFF

	div
		display: none

.balloon-layout
	width: 250px
	background-color: #FFF
	border: 3px solid #a3d726
	font-size: 0.8rem
	overflow: hidden

	&__header
		height: 130px
		background-size: cover

	&__title
		margin: 10px
		font-weight: bold
		color: #86B433
		font-size: 0.9rem
		font-family: $default-font

	&__props
		padding: 0 10px 10px

	&__prop
		position: relative
		margin-bottom: 5px
		font-family: $default-font

	.close
		position: absolute
		right: -50px
		top: 0
		cursor: pointer
		filter: brightness(3)
		opacity: 0.7

.map-label
	position: absolute
	z-index: 100
	margin-left: 15px
	padding: 4px 10px
	background-color: #4c34ac
	color: #FFF
	text-transform: uppercase
	font-size: 0.9rem
	transform: translateX(-50%)

.full-map
	position: absolute
	z-index: 30
	left: 100%
	top: 0
	width: 100%
	height: 100%

	&:before
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		opacity: 1
		background: transparentize(#281c56, 0.6)
		transition: opacity 0.3s

	&.is-animating &:before
		opacity: 1

	&.is-open
		left: 0

	&.is-animating
		top: 0
		opacity: 1

	&__content
		position: absolute
		z-index: 1
		top: 100%
		left: 0
		right: 0
		height: 100%
		transition: top 0.5s

	&.is-animating &__content
		top: 10%

	.close
		position: absolute
		top: 15px
		right: 0
		z-index: 2
		width: 50px
		height: 50px
		background-color: #6b50d6
		cursor: pointer
		text-align: center
		line-height: 60px
		text-decoration: none

		&:hover:before
			opacity: 0.5

		&:before
			content: ''
			display: inline-block
			width: 26px
			height: 22px
			background: url('/pic/design/close.svg') 50% 50% no-repeat
