.secondary-nav
	display: none
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	z-index: 5

	&.is-open
		display: block

	&:before
		content: ''
		position: absolute
		left: 0
		right: 0
		width: 100%
		height: 100%
		background: #000
		transition: opacity 0.3s
		opacity: 0

	&.is-animating:before
		opacity: 0.6

	&__list
		overflow: hidden
		position: absolute
		left: 100%
		top: 0
		width: 300px
		height: 100%
		padding: 30px 0 0 20px
		color: #FFF
		background: #744FDB
		transition: transform 0.5s
		text-transform: uppercase
		font-size: 0.8rem
		font-weight: bold

	&.is-animating &__list
		transform: translate(-100%)

	&__item
		margin-bottom: 15px

	a
		display: inline-block
		padding: 3px
		color: #FFF
		text-decoration: none

		&:hover
			background: #2F363F

.back-link
	text-transform: uppercase
	font-weight: 900

	&:before
		content: ''
		display: inline-block
		vertical-align: middle
		@include sprite($middle-arrow)

	a
		color: $default-text-color
		text-decoration: none

		&:hover
			text-decoration: underline

.back-link-default
	text-transform: uppercase
	text-decoration: none
	border-bottom: 3px solid #6b50d6
	color: $default-text-color
	font-weight: 900

	&:hover
		border: 0

.back-link-triangle
	position: absolute
	left: 0
	top: 50%
	width: 157px
	height: 314px
	margin-top: -157px
	color: #FFF
	text-transform: uppercase

	.text
		position: absolute
		top: 50%
		right: 40px
		transform: translateY(-50%)
		font-size: 0.8rem
		text-align: center
		pointer-events: none

	b
		display: block
		font-weight: 900
		font-size: 1.2rem
