.news-slider
	position: absolute
	right: 5%
	top: 0
	width: 300px
	padding-top: 40px
	backface-visibility: hidden;
	transform: rotate(45deg) translateZ(0)
	z-index: 2

	@media screen and (max-width: 1370px)
		right: 10px

	@media screen and (min-width: 1370px)
		right: 10%

	&__title
		position: absolute
		top: 0
		left: 160px
		text-align: right
		text-transform: uppercase
		font-size: 1.1rem
		font-weight: bold
		font-family: $font-black

		a
			color: $text-color
			text-decoration: none
			font-weight: bold

			&:hover
				text-decoration: underline

		&:before,
			content: ''
			position: absolute
			right: 100%
			top: 0
			margin-right: 8px
			@include sprite($ico-color-arrows)

		&:hover:before
			margin-right: 6px
			@include sprite($ico-color-arrows-active)

	img
		position: absolute
		top: 0
		left: 0
		border: 5px solid #F2F2F2
		box-sizing: content-box

	&__item:hover img
		border-color: #724ddb

	&__item
		display: none
		position: relative
		height: 90px
		padding-left: 95px
		text-decoration: none

	&__date
		margin-bottom: 5px
		font-size: 0.75rem
		color: #999

		&:before
			content: ''
			display: inline-block
			margin-right: 7px
			vertical-align: middle
			@include sprite($ico-date)

	&__text
		font-weight: bold
		font-size: 0.85rem
		line-height: 1.25
		color: $default-text-color

	&__item:hover &__text
		text-decoration: underline

	.slick-dots
		position: absolute
		right: 50px
		bottom: -20px

		li
			display: inline-block
			width: 12px
			height: 12px
			margin-right: 8px
			border: 1px solid #9B80E4
			transform: rotate(45deg)

			&:hover
				background-color: #6b50d6

			&.slick-active
				border-color: transparent
				background: #89D800

	.slick-arrow
		position: absolute
		bottom: -23px
		width: 23px
		height: 30px
		background: none
		outline: 0
		border: 0
		text-indent: -9000px
		z-index: 4
		cursor: pointer

	.slick-next
		right: 35px
		@include sprite($slider-arrow-next)

		&:hover
			@include sprite-image($slider-arrow-next-active)
			@include sprite-position($slider-arrow-next-active)

	.slick-prev
		right: 111px
		@include sprite($slider-arrow-prev)

		&:hover
			@include sprite-image($slider-arrow-prev-active)
			@include sprite-position($slider-arrow-prev-active)
