.pagination
	font-size: 0

	&__page,
	&__ellipsis
		display: inline-block
		padding: 3px 8px
		border-right: 3px solid #e7e7e7
		font-weight: bold
		font-size: 1.4rem

	&__page
		a
			border-bottom: 3px solid #6b50d6
			text-decoration: none
			color: $default-text-color
		a:hover
			border: 0

	&__page.current
		background-color: #a3d726

		a
			border: 0
