.selector
	display: inline-block
	position: relative
	user-select: none

	&__label
		position: relative
		display: inline-block
		width: 235px
		height: 32px
		padding-left: 10px
		background: #FFF
		cursor: pointer
		font-weight: bold
		line-height: 32px
		font-size: 0.9rem

		&:after
			content: ''
			position: absolute
			left: 100%
			top: 12px
			margin-left: 10px
			border: 10px solid transparent
			border-top-color: #FFF

		&:hover:after
			border-top-color: #3b3d40

	&__dropdown
		display: none
		position: absolute
		top: 100%
		left: 0
		width: 100%
		margin-top: 1px
		padding: 10px 10px 0px
		background-color: #f2f2f2
		font-size: 0.9rem

	&.is-open &__dropdown
		display: block

	&__item
		margin-bottom: 8px
		font-weight: bold
		cursor: pointer

		&:hover
			color: #6b50d6
