.slider-index
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	overflow: hidden

	&__item
		position: relative
		width: 100%
		height: 100%
		background-size: cover
		background-position: 50% 50%

.slider-text
	position: absolute
	left: 0
	top: 50%
	width: 480px
	color: #FFF
	z-index: 3

	&__item
		display: none
		padding: 5px 15px
		text-transform: uppercase
		background: rgba(0, 0, 0, 0.5)
		font-size: 1.1rem
		font-weight: bold

		b
			display: block
			margin-bottom: 3px
			font-size: 1.6rem
			font-family: $font-black

	.slick-dots
		position: absolute
		top: 100%
		left: 15px
		margin-top: 10px

		li
			display: inline-block
			width: 14px
			height: 14px
			margin-right: 12px
			border: 1px solid #FFF
			transform: rotate(45deg)
			cursor: pointer

			&:hover
				background: #FFF

			&.slick-active
				background: #FFF

.slider-images
	position: absolute
	left: 0
	bottom: 15%
	z-index: 5
	width: 450px
	padding-left: 15px
	white-space: nowrap

	.scrollbar
		overflow: hidden
		position: relative
		width: 100%

	img
		display: block
		filter: grayscale(100%)

	&__image:hover
		img
			filter: grayscale(0)

	&__image
		display: inline-block
		margin-right: 5px
		margin-bottom: 20px
		border: 5px solid #FFF
		cursor: pointer

		&.active
			border-color: #89d800

			img
				filter: grayscale(0)
