.page[data-type="404"]

	.content
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		text-transform: uppercase

		&:before
			content: ''
			position: absolute
			top: 100%
			right: 0
			width: 4000px
			height: 6px
			margin-top: -35px
			background: #FFF
			box-shadow: 1px 1px 0 1px $default-text-color

	h1

		>b
			display: block
			color: #744FDB
			font-size: 14rem
			font-family: Arial, sans-serif
			text-shadow: 2px 2px $default-text-color

		>span
			position: absolute
			top: 80px
			left: 100%
			margin-left: -38px
			font-family: $font-black
			font-weight: bold
			color: #FFF
			font-size: 1.6rem
			text-shadow: 2px 2px $default-text-color

	.link-to-main
		position: absolute
		left: 100%
		bottom: 38px
		margin-left: 10px
		padding: 5px 10px 4px
		background: #c41ec1
		text-decoration: none
		font-weight: bold
		color: #FFF
		font-size: 1.1rem
		white-space: nowrap
