.benefit
	position: absolute
	left: 0
	top: 50%
	color: #FFF
	text-shadow: 2px 2px $default-text-color
	text-transform: uppercase
	font-weight: 900
	transform: translateY(-50%)

	span
		display: inline-block
		position: relative
		margin-bottom: 70px
		padding-left: 100px
		font-size: 1.1rem

		&:after
			content: ''
			position: absolute
			left: 15px
			top: 100%
			width: 76px
			height: 74px
			margin-top: -35px

		&:before
			content: ''
			position: absolute
			left: 0
			bottom: -3px
			width: 100%
			height: 6px
			background: #FFF
			box-shadow: 1px 1px 0 1px $default-text-color

	li:nth-child(1) span:after
		background-image: url('/pic/design/benefit-1.png')
	li:nth-child(2) span:after
		background-image: url('/pic/design/benefit-2.png')
	li:nth-child(3) span:after
		background-image: url('/pic/design/benefit-3.png')
	li:nth-child(4) span:after
		background-image: url('/pic/design/benefit-4.png')
	li:nth-child(5) span:after
		background-image: url('/pic/design/benefit-5.png')

.page[data-type='about']
	.stripes
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 2
		pointer-events: none

	.stripe-1
		position: absolute
		top: 50%
		right: 0
		width: 100%
		height: 120px
		margin-top: 8px
		border: 5px solid transparentize(#FFF, 0.5)
		border-right: 0
		border-left: 0
		transform: rotate(45deg)
		transform-origin: 100% 0
		pointer-events: all

		&:before
			content: ''
			position: absolute
			width: 110px
			height: 500px
			right: 105px
			bottom: 100%
			z-index: -1
			background: transparentize(#FFF, 0.5)

		.block-1,
		.block-2,
		.block-3
			position: absolute
			right: 200px
			top: 0
			width: 110px
			height: 110px
			text-transform: uppercase
			text-align: center
			font-size: 0.9rem
			font-weight: bold
			line-height: 1.2
			color: #FFF
			text-decoration: none

			.content
				position: relative
				transform: rotate(-45deg)

		.block-1
			right: 215px
			background-color: #6b50d6

			&:hover
				background-color: #765be2

			.content
				left: -13px
				top: 4px

		.block-2
			right: 105px
			padding-top: 36px
			padding-left: 8px
			text-align: left
			font-weight: 900
			text-shadow: 2px 2px $default-text-color
			background: url('/pic/design/about-ico-2_new.png') 0 0 no-repeat
			background-size: cover

			&:hover
				background-image: none
				background-color: #1b1f28

		.block-3
			top: -110px
			right: 105px
			background-color: #a823bc

			&:hover
				background-color: #b72bcc

			.content
				top: 11px
				left: -2px

	.stripe-2
		position: absolute
		top: 50%
		right: 0
		width: 100%
		height: 330px
		margin-top: -158px
		background: #FFF
		transform: rotate(-45deg)
		transform-origin: 100% 100%
		pointer-events: all

		.text-content
			position: absolute
			right: 5%
			top: -30px
			width: 310px
			transform: rotate(45deg)
			transform-origin: 0 0

			@media screen and (max-width: 1400px)
				right: -50px

			@media screen and (max-width: 1100px)
				right: -90px

			h1
				margin-bottom: 30px
				padding-left: 80px
				font-size: 1.4rem
				text-transform: uppercase
				font-weight: 900
				text-align: left

				&:before
					content: ''
					position: absolute
					display: inline-block
					margin-left: -40px
					@include sprite($title-arrows-big)

			.scrollbar
				position: relative
				max-height: 160px
				padding-right: 20px

			p
				font-size: 0.87rem
				line-height: 1.3
			p+p
				margin-top: 10px

	.groups-images
		display: none
