.page[data-type='car-detail']

	.content
		position: absolute
		left: 90px
		right: 0
		top: 50%
		transform: translateY(-50%)

	h1
		position: relative
		width: 60%
		margin: 0 0 30px auto
		color: #FFF
		text-transform: uppercase
		font-weight: 900
		font-size: 1.7rem
		text-shadow: 2px 2px $default-text-color

		&:before
			content: ''
			position: absolute
			left: 0
			bottom: -1px
			width: 100%
			height: 6px
			box-shadow: 2px 1px 0 1px $default-text-color
			background: #FFF

	.apart-block
		position: absolute
		top: -48px
		left: 0
		width: auto
		height: auto

		.num
			display: inline-block
			font-size: 9rem
			color: rgba(59, 61, 64, 0.34)
			font-weight: 700
		.text
			position: absolute
			top: 50px
			left: 100%
			margin-left: -35px
			text-transform: uppercase
			font-weight: 900
			font-size: 1.5rem
			color: rgba(255, 255, 255, 0.31)

.car-plan
	display: flex
	text-transform: uppercase
	color: #FFF
	font-weight: bold
	font-size: 0.9rem

	&__preview
		width: 50%
		padding: 0 30px 0 100px
		text-align: right

		img
			max-width: 100%
			max-height: 400px

	&__legend

		li+li
			margin-top: 10px

		.free:before,
		.reserve:before
			content: ''
			display: inline-block
			width: 35px
			height: 17px
			margin-right: 5px
			vertical-align: middle

		.free:before
			background-color: #6b50d6

		.reserve:before
			background-color: #FFF

.car-place
	margin-top: 30px

	&__title
		margin-bottom: 10px
		color: $default-text-color
		font-weight: 900

	&__info
		margin-bottom: 15px

		li
			margin-bottom: 4px

	&__price

		.title
			display: inline-block
			margin-bottom: 10px
			padding: 3px
			background-color: $default-text-color

		.price
			font-size: 2rem
			font-weight: 900
			color: #a823bc
