.page[data-type='choose']

	.content
		position: absolute
		left: 90px
		right: 0
		top: 50%
		transform: translateY(-50%)

	h1
		position: relative
		width: 50%
		margin: 0 0 0 auto
		color: #FFF
		text-transform: uppercase
		font-weight: 900
		font-size: 1.7rem
		text-shadow: 2px 2px $default-text-color

		&:before
			content: ''
			position: absolute
			left: 0
			bottom: -1px
			width: 100%
			height: 6px
			box-shadow: 2px 1px 0 1px $default-text-color
			background: #FFF

	.apart-block
		position: absolute
		top: -48px
		left: 0
		width: auto
		height: auto

		.num
			display: inline-block
			font-size: 9rem
			color: rgba(59, 61, 64, 0.34)
			font-weight: 700
		.text
			position: absolute
			top: 50px
			left: 100%
			margin-left: -35px
			text-transform: uppercase
			font-weight: 900
			font-size: 1.5rem
			color: rgba(255, 255, 255, 0.31)

.flat-layout
	margin: 0 0 0 120px
	padding-top: 30px

	.roof
		display: none

	.housemod
		border-collapse: separate
		border-spacing: 1px

	.etazh
		width: 30px
		text-transform: uppercase
		font-weight: 700
		font-size: 1rem
		text-align: center
		vertical-align: bottom

	.live,
	.free,
	.fix,
	.bgr_white,
	.notlife
		width: 27px
		height: 32px
		border: 1px solid #FFF
		text-align: center
		vertical-align: middle
		color: #FFF

		@media screen and (max-width: 1050px)
			width: 22px
			height: 28px

		@media screen and (min-width: 1450px)
			width: 32px
			height: 40px

		@media screen and (min-width: 1900px)
			width: 40px
			height: 48px

		a
			color: #FFF
			text-decoration: none

	.free
		background-color: #e436d2

	.fix
		background-color: #424954

	.notlife
		background-color: rgba(255, 255, 255, 0.5)

	.by-param-link
		display: inline-block
		margin: 20px 0 0 30px
		color: #FFF
		text-decoration: none
		text-transform: uppercase
		font-size: 0.9rem
