.page[data-type='construction']
	.stripes
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 2

	.stripe-1
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		padding-left: 30px
		background: linear-gradient(135deg, transparent 0, transparent 20%, #FFF 20%, #FFF 100%)

	.content
		position: absolute
		z-index: 4
		top: 18%
		left: 14%
		right: 0

		h1
			margin-bottom: 30px
			padding-left: 13%
			font-size: 1.4rem
			text-transform: uppercase
			font-weight: 900
			text-align: left

			&:before
				content: ''
				position: absolute
				display: inline-block
				margin-left: -40px
				margin-top: -18px
				@include sprite($head-arrows-3)

.construction-preview-list

	&__item
		display: none
		position: relative
		display: inline-block
		margin: 0 20px 20px 0

	a
		position: relative
		display: inline-block
		border: 6px solid #EEE

	&__title
		display: none
		position: absolute
		top: 30px
		right: 30px
		bottom: 30px
		left: 30px
		padding: 20px 20px
		background-color: rgba(0, 0, 0, 0.38)
		color: #FFF
		text-align: center
		font-size: 0.9rem
		line-height: 1.3

		&:before
			content: ''
			display: block
			margin: 0 auto 20px auto
			@include sprite($ico-zoom)

	a:hover &__title
		display: block

.construction-list

	&__item
		display: none
		position: relative
		display: inline-block
		margin: 0 20px 20px 0

		img
			display: block
			width: 100%

	a
		position: relative
		display: inline-block
		border: 6px solid #EEE

	&__date
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		position: absolute
		bottom: -10px
		right: -10px
		width: 150px
		height: 150px
		padding: 20px
		background-color: #8166e9
		color: #FFF
		text-align: center
		font-weight: 900
		font-size: 1.5rem
		line-height: 1.3

		svg
			display: none
			margin-bottom: 5px

	a:hover &__date
		background-color: #6b50d6

		svg
			display: inline-block
