.page[data-type='contact']
	.stripes
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 5
		pointer-events: none

	.stripe-1
		position: absolute
		top: 50%
		right: 0
		width: 100%
		height: 220px
		margin-top: -140px
		background-color: #866ee9
		transform: rotate(45deg)
		transform-origin: 100% 0
		pointer-events: all
		z-index: 1

		&:before
			content: ''
			position: absolute
			bottom: 100%
			right: 0
			width: 129px
			height: 500px
			background: transparentize(#FFF, 0.5)
			z-index: -1

	.stripe-2
		position: absolute
		top: 50%
		right: 0
		width: 100%
		height: 350px
		margin-top: -178px
		background: #FFF
		transform: rotate(-45deg)
		transform-origin: 100% 100%
		pointer-events: all

		.text-content
			position: absolute
			right: 5%
			top: -30px
			width: 310px
			transform: rotate(45deg)
			transform-origin: 0 0

			@media screen and (max-width: 1400px)
				right: -50px

			@media screen and (max-width: 1100px)
				right: -90px

			h1
				margin-bottom: 30px
				padding-left: 80px
				font-size: 1.4rem
				text-transform: uppercase
				font-weight: 900
				text-align: left

				&:before
					content: ''
					position: absolute
					display: inline-block
					margin-left: -40px
					@include sprite($title-arrows-big)

			a
				color: #a3d726

			.image
				position: absolute
				left: -155px
				top: 60px
				border: 6px solid #FFF

			.scrollbar
				position: relative
				max-height: 160px
				padding-right: 20px

			p
				font-size: 0.87rem
				line-height: 1.3
			p+p
				margin-top: 10px

.contact-map
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%

.metro-block
	position: absolute
	right: 10%
	top: 100%
	width: 300px
	margin-top: -20px
	transform: rotate(-45deg)
	transform-origin: 0 0

	@media screen and (max-width: 1400px)
		right: 2%

	h6
		margin-bottom: 25px
		color: #FFF
		text-transform: uppercase
		font-weight: 700
		font-size: 0.9rem

		&:before
			content: ''
			position: absolute
			left: -40px
			top: -12px
			width: 32px
			height: 32px
			background: url('../pic/design/checkbox.svg') 0 0 no-repeat
