$decor-content-side-length: 430px

.page[data-type='decor']
	.stripes
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 2

	.stripe-1
		position: absolute
		top: 50%
		right: -4px
		width: $decor-content-side-length
		height: $decor-content-side-length
		margin-top: 177px
		background: #FFF
		transform: rotate(45deg)
		transform-origin: 100% 0

	.stripe-2
		position: absolute
		top: 50%
		right: -4px
		width: 100%
		height: 6px
		margin-top: 177px
		background: transparentize(#FFF, 0.5)
		transform: rotate(45deg)
		transform-origin: 100% 0

	.content
		transform: rotate(-45deg)

		.text
			position: relative
			width: 320px
			max-height: 200px
			font-size: 0.9rem
			line-height: 1.3

	h1
		margin-bottom: 10px
		padding-left: 100px
		font-size: 1.4rem
		text-transform: uppercase
		font-weight: 900

		&:before
			content: ''
			position: absolute
			display: inline-block
			margin-left: -40px
			@include sprite($title-arrows-big-outset)

	.back-link-triangle
		z-index: 10

		.svg-tri
			fill: #6b50d6

.decor-type
	$decor-top-gap: 10px
	$decor-side-length: ($decor-content-side-length - 2 * $decor-top-gap) / 3

	&__item
		overflow: hidden
		position: absolute
		right: 100%
		top: 0
		width: $decor-side-length
		height: $decor-side-length
		margin-right: 5px

		&:before
			content: ''
			position: absolute
			left: 50%
			top: 50%
			width: 194px
			height: 194px
			margin: -97px 0 0 -97px
			background: url('/pic/design/decor-3.png') 0 0 no-repeat
			background-size: cover
			transform: rotate(-45deg)

		&:after
			content: ''
			position: absolute
			top: 5px
			right: 5px
			bottom: 5px
			left: 5px
			background: #281c56
			opacity: 0.5

		&:hover:after
			opacity: 0

		&:nth-child(2)
			top: $decor-side-length + $decor-top-gap

			&:before
				background-image: url('/pic/design/decor-2.png')

		&:nth-child(3)
			top: 2 * ($decor-side-length + $decor-top-gap)

			&:before
				background-image: url('/pic/design/decor-1.png')

	&__content
		position: absolute
		top: 50%
		left: 50%
		width: 150px
		color: #FFF
		text-transform: uppercase
		text-align: center
		transform: rotate(-45deg) translate(-50%, -50%)
		transform-origin: 0 0
		text-decoration: none
		z-index: 1

	h6
		position: relative
		margin-bottom: 20px
		font-weight: 900

		&:before
			content: ''
			position: absolute
			top: 22px
			@include sprite($ex-v)

	b
		font-size: 0.9rem

.decor-gallery

	&__wrap
		display: flex
		align-items: center
		position: absolute
		z-index: 15
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: transparentize(#FFF, 0.6)

		.decor-gallery
			position: relative

		.slick-arrow
			position: absolute
			top: 40%

		.slick-next
			right: 0

		.slick-prev
			left: 0
