.page[data-type='documents']
	.stripes
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 2

	.stripe-1
		position: absolute
		top: 0
		left: 30%
		width: 100%
		height: 100%
		padding-left: 30px
		transform: skew(-45deg)
		background: #FFF
		background-clip: content-box
		border-left: 6px solid transparentize(#FFF, 0.5)
		transform-origin: 0 100%

		@media screen and (max-width: 1300px)
			left: 20%

	.scrollbar
		position: relative
		max-height: 500px
		padding-right: 25px

	.content
		position: absolute
		top: 50%
		left: 0
		width: 26%
		transform: translateY(-50%) skew(45deg)
		transform-origin: 0 0

		h1
			margin-bottom: 30px
			padding-left: 80px
			font-size: 1.4rem
			text-transform: uppercase
			font-weight: 900
			text-align: left

			&:before
				content: ''
				position: absolute
				display: inline-block
				margin-left: -40px
				@include sprite($title-arrows-big)


.doc-list

	li
		position: relative
		min-height: 50px
		margin-bottom: 20px
		padding-left: 60px
		text-transform: uppercase
		font-weight: bold
		font-size: 0.9rem
		line-height: 1.3

		a
			text-decoration: none
			color: $default-text-color
		a:hover
			text-decoration: underline

		&:before
			content: ''
			position: absolute
			left: 0
			top: 0
			@include sprite($ico-pdf)
