.buy-step
	position: absolute
	right: 255px
	top: 50%
	margin-top: -245px

	&__step
		position: absolute
		top: 0
		right: 0
		width: 338px
		height: 338px
		padding: 100px 50px 0 50px
		background-size: contain
		background-position: 0 0
		background-repeat: no-repeat
		color: #FFF
		text-align: center

	&__step-1
		right: 338px
		background-image: url('/pic/design/ex1.png')

	&__step-2
		top: 170px
		right: 169px
		background-image: url('/pic/design/ex2.png')

	&__step-3
		background-image: url('/pic/design/ex3.png')

.step

	&__label
		margin-bottom: 5px
		font-weight: 900

	&__title
		position: relative
		margin-bottom: 5px
		padding-bottom: 20px
		font-weight: bold
		text-transform: uppercase
		font-size: 0.95rem

		&:before
			content: ''
			position: absolute
			left: 50%
			bottom: 0
			transform: translateX(-50%)
			@include sprite($ex-v)

	&__text
		margin: 0 25px
		line-height: 1.3
		font-size: 0.87rem

.page[data-type='exchange']
	.stripes
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 2
		pointer-events: none

	.stripe-1
		position: absolute
		top: 50%
		right: 0
		width: 100%
		height: 220px
		margin-top: -140px
		background-color: #866ee9
		transform: rotate(45deg)
		transform-origin: 100% 0
		pointer-events: all

		.promo-text
			position: absolute
			right: 10%
			top: 100%
			color: #FFF
			font-weight: 900
			font-size: 1.3rem
			line-height: 1.1
			transform: rotate(-45deg)
			transform-origin: 0 0
			text-shadow: 2px 2px $default-text-color
			text-transform: uppercase

			@media screen and (max-height: 700px)
				right: 5%

			$line-margin: 30px
			@for $i from 1 through 4
				.line-#{$i}
					margin-left: $i*$line-margin

	.stripe-2
		position: absolute
		top: 50%
		right: 0
		width: 100%
		height: 350px
		margin-top: -178px
		background: #FFF
		transform: rotate(-45deg)
		transform-origin: 100% 100%
		pointer-events: all

		.text-content
			position: absolute
			right: 5%
			top: -30px
			width: 310px
			transform: rotate(45deg)
			transform-origin: 0 0

			@media screen and (max-width: 1400px)
				right: -50px

			@media screen and (max-width: 1100px)
				right: -90px

			h1
				margin-bottom: 30px
				padding-left: 75px
				font-size: 1.4rem
				text-transform: uppercase
				font-weight: 900

				&:before
					content: ''
					position: absolute
					display: inline-block
					margin-left: -40px
					@include sprite($title-arrows-big)

			.scrollbar
				position: relative
				max-height: 160px
				padding-right: 20px

			p
				font-size: 0.87rem
				line-height: 1.3
			p+p
				margin-top: 10px
