.page[data-type='flat-detail']

	.content
		position: absolute
		left: 90px
		right: 0
		top: 50%
		transform: translateY(-50%)

	h1
		position: relative
		width: 60%
		margin: 0 0 30px auto
		color: #FFF
		text-transform: uppercase
		font-weight: 900
		font-size: 1.7rem
		text-shadow: 2px 2px $default-text-color

		&:before
			content: ''
			position: absolute
			left: 0
			bottom: -1px
			width: 100%
			height: 6px
			box-shadow: 2px 1px 0 1px $default-text-color
			background: #FFF

	.action
		display: block
		margin-bottom: 10px
		color: #444
		text-decoration: none
		font-weight: bold
		vertical-align: top

		.svg-ico
			vertical-align: top

		&:hover
			color: #FFF

	.apart-block
		position: absolute
		top: -48px
		left: 0
		width: auto
		height: auto

		.num
			display: inline-block
			font-size: 9rem
			color: rgba(59, 61, 64, 0.34)
			font-weight: 700
		.text
			position: absolute
			top: 50px
			left: 100%
			margin-left: -35px
			text-transform: uppercase
			font-weight: 900
			font-size: 1.5rem
			color: rgba(255, 255, 255, 0.31)

.flat
	position: relative
	width: 60%
	margin: 0 0 20px auto
	text-transform: uppercase
	color: #FFF
	font-size: 0.9rem

	&__image
		position: absolute
		right: 100%
		top: 0
		margin-right: 30px

		img
			max-width: 200px
			max-height: 350px

			@media screen and (min-width: 1300px)
				max-width: 400px

	&__description,
	&__actions
		display: inline-block
		vertical-align: top

	&__description
		margin-right: 60px

	&__foot
		margin-top: 30px

	h2
		margin-bottom: 15px
		font-weight: 900
		color: $default-text-color

	&__meta
		margin-bottom: 15px
		font-weight: bold

		li
			margin-bottom: 3px

	.price

		&__title
			display: inline-block
			margin-bottom: 5px
			padding: 3px
			background: $default-text-color
			color: #FFF
			font-weight: bold
			font-size: 0.9rem

		&__num
			font-size: 2rem
			font-weight: 900
			color: #a823bc

	.request
		display: inline-block
		border: 6px solid #FFF
		margin-bottom: 15px
		padding: 10px 15px
		font-weight: 900
		color: $default-text-color
		cursor: pointer

	.social

		&__label
			display: inline-block
			margin-right: 10px
			color: $default-text-color
			font-weight: bold
			font-size: 0.9rem
