.page[data-type="genplan"]

	.sign-metro
		position: absolute
		left: 5%
		bottom: 18%
		text-transform: uppercase
		font-weight: 700
		color: #FFF
		font-size: 1.4rem
		text-shadow: 2px 2px #121313
		text-align: center

		&:before
			position: absolute
			content: ''
			left: 0
			top: 100%
			width: 55px
			height: 55px
			margin: -15px 0 0 25px
			background: url('/pic/design/metro-arrow.png') 0 0 no-repeat

		svg
			display: block
			margin: 0 auto 10px

	.sign-compass
		position: absolute
		right: 20px
		top: 90px

.genplan
	position: absolute
	left: 50%
	top: 50%
	width: 100%
	transform: translate(-50%, -50%)

	@media screen and (aspect-ratio: 4/3), only screen and (min-device-width : 768px) and (max-device-width : 1024px)
		width: auto
		height: 100%

	img
		display: block
		width: 100%

		@media screen and (aspect-ratio: 4/3), only screen and (min-device-width : 768px) and (max-device-width : 1024px)
			width: auto
			height: 100%

	svg
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
