$promo-item-padding: 40px
.apart-promo
	text-transform: uppercase
	font-size: 0.95rem
	color: #373B3E

	a
		color: #373B3E
		text-decoration: none

	.ico
		margin-right: 10px

	&__item
		margin-bottom: 10px
		font-weight: bold

		b
			font-family: $font-black

		&:nth-child(2)
			margin-left: $promo-item-padding
		&:nth-child(3)
			margin-left: 2 * $promo-item-padding

.apart-block
	position: absolute
	top: 25%
	left: 0
	width: 370px
	height: 100px
	color: #FFF
	z-index: 3

	.line
		position: absolute
		z-index: 1
		width: 0
		height: 5px
		left: 0
		bottom: 0
		background: #FFF
		animation: line-animation 1s
		animation-delay: 1s
		animation-fill-mode: forwards
		transition: box-shadow 1s

	.num-wrap
		position: absolute
		right: 0
		bottom: 5px
		overflow: hidden
		height: 0
		animation: num-animation 1.3s
		animation-delay: 2s
		animation-fill-mode: forwards

		.num
			color: #744FDB
			font-size: 9rem
			font-weight: bold
			transition: text-shadow 1s

	.text-wrap
		position: absolute
		left: 100%
		bottom: 25px
		overflow: hidden
		width: 300px
		margin-left: -40px

		.text
			transform: translateX(-100%)
			font-size: 1.8rem
			line-height: 1
			animation: text-animation 1s
			animation-delay: 3.3s
			animation-fill-mode: forwards
			transition: text-shadow 1s
			text-transform: uppercase
			font-family: $font-black
			font-weight: bold

	&.is-animated
		.num,
		.text
			text-shadow: 2px 2px #3b3d40
		.line
			box-shadow: 2px 2px #3b3d40

@keyframes line-animation
	0
		width: 0
	100%
		width: 100%

@keyframes num-animation
	0
		height: 0
	100%
		height: 7.7rem

@keyframes text-animation
	0
		transform: translateX(-100%)
	100%
		transform: translateX(0)

.discount-block
	position: absolute
	top: 50%
	right: 140px
	margin-top: -70px
	color: #FFF
	text-align: center
	text-transform: uppercase
	font-size: 0.9rem
	font-weight: bold
	z-index: 3

	&:before
		content: ''
		position: absolute
		width: 90px
		height: 90px
		left: -10px
		top: -20px
		background: #C41EC1
		transform: rotate(45deg)

	&__text
		position: relative

	.num
		margin-top: 5px
		font-size: 1.7rem
		font-weight: 900

		&:after
			content: '*'
			font-size: 1rem
			vertical-align: top

.apart-choose
	position: absolute
	top: 50%
	right: 0
	width: 157px
	height: 314px
	margin-top: -141px
	z-index: 4
	pointer-events: none

	&:hover path
		fill: #8cbd16

	svg
		width: 100%
		height: 100%

	path
		pointer-events: all

	.ico-search
		position: absolute
		right: 0
		top: 50px
		pointer-events: none

	a
		color: #FFF
		text-decoration: none

	.text
		position: absolute
		top: 141px
		right: 5px
		text-transform: uppercase
		font-size: 0.8rem

		&:before
			content: ''
			position: absolute
			left: -35px
			top: -4px
			@include sprite($ico-arrow)

		b
			display: block
			font-weight: bold
			font-size: 1.2rem

.map-corner
	overflow: hidden
	position: absolute
	z-index: 1
	top: 100%
	right: 0
	width: 1000px
	height: 1000px

	.map
		position: absolute
		top: 0
		right: 0
		width: 30vw
		height: calc(50vh - 172px)
		transform: rotate(45deg) translateZ(0px)!important
		transform-origin: 100% 0

.mortage-reform
	position: absolute
	z-index: 4
	top: 50%
	right: 180px
	width: 169px
	height: 52px
	margin-top: 6px
	padding: 5px 30px 0
	background: url('/pic/design/reform-mortage-back.png') 0 0 no-repeat
	color: #FFF
	font-size: 1.3rem
	text-decoration: none

.page[data-type='index']
	.stripes
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 2

		&:before
			content: ''
			position: absolute
			right: 0
			top: 50%
			width: 30px
			height: 2px
			margin-top: -1px
			background: red

	.stripe-1
		position: absolute
		top: 50%
		right: 0
		width: 100%
		height: 220px
		margin-top: -140px
		background: rgba(255, 255, 255, 0.6)
		transform: rotate(45deg)
		transform-origin: 100% 0

		.test-block
			position: absolute
			right: 5%
			bottom: -150px
			width: 400px
			height: 150px
			transform: rotate(-45deg)
			transform-origin: 0 0

			@media screen and (max-height: 800px)
				right: 0
			@media screen and (max-height: 768px)
				right: -50px

	.stripe-2
		position: absolute
		top: 50%
		right: 0
		width: 100%
		height: 220px
		margin-top: -48px
		background: #FFF
		transform: rotate(-45deg)
		transform-origin: 100% 100%
