.page[data-type='location']
	.stripes
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 2
		pointer-events: none

	.stripe-1
		position: absolute
		top: 50%
		right: 0
		width: 100%
		height: 100px
		margin-top: 8px
		transform: rotate(45deg)
		transform-origin: 100% 0
		pointer-events: all

		&:before
			content: ''
			position: absolute
			top: -300px
			right: 105px
			width: 112px
			height: 300px
			background: #FFF
			opacity: 0.2

		.block-1,
		.block-2
			overflow: hidden
			position: absolute
			right: 105px
			top: 0
			width: 112px
			height: 112px
			text-transform: uppercase
			text-align: center
			color: #FFF
			font-size: 0.9rem
			font-weight: bold
			line-height: 1.2
			text-decoration: none
			cursor: pointer

			.content
				transform: rotate(-45deg)

		.block-1
			top: 6px
			font-weight: 900
			background-color: #6b50d6

			&.active,
			&:hover
				background-color: #5b3fc7

			.content
				margin-left: -30px
				padding-top: 20px

		.block-2
			top: -105px
			background-color: #a823bc
			font-weight: normal
			font-size: 0.65rem

			&.active,
			&:hover
				background-color: #9717aa

			b
				font-size: 1rem
				font-weight: bold

			.content
				margin-left: -25px
				padding-top: 5px

	.stripe-2
		position: absolute
		top: 50%
		right: 0
		width: 100%
		height: 335px
		margin-top: -163px
		background: #FFF
		transform: rotate(-45deg)
		transform-origin: 100% 100%
		pointer-events: all

		.text
			display: none

		.text.active
			display: block

		.text-content
			position: absolute
			right: 5%
			top: -30px
			width: 310px
			transform: rotate(45deg)
			transform-origin: 0 0

			@media screen and (max-width: 1400px)
				right: -50px

			@media screen and (max-width: 1100px)
				right: -90px

			h1
				margin-bottom: 30px
				padding-left: 80px
				font-size: 1.4rem
				text-transform: uppercase
				font-weight: 900
				text-align: left

				&:before
					content: ''
					position: absolute
					display: inline-block
					margin-left: -40px
					@include sprite($title-arrows-big)

			.scrollbar
				position: relative
				max-height: 160px
				padding-right: 20px

			p
				font-size: 0.87rem
				line-height: 1.3
			p+p
				margin-top: 10px

.location-map
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
