.page[data-type='mortage']
	.content
		position: absolute
		left: 20%
		right: 10%
		bottom: 10%
		color: #FFF

	.text
		margin-bottom: 30px
		padding-left: 160px
		font-size: 0.9rem
		line-height: 1.3

		p+p
			margin-top: 10px

	h1
		position: absolute
		left: 0
		top: 0
		color: #FFF
		text-transform: uppercase
		font-weight: 900
		font-size: 1.7rem
		text-shadow: 2px 2px $default-text-color

		&:before
			content: ''
			position: absolute
			right: 0
			bottom: -1px
			width: 4000px
			height: 6px
			box-shadow: 2px 1px 0 1px $default-text-color
			background: #FFF

	.social

		&__label
			margin-bottom: 5px

.mortage
	display: flex

	&__actions
		flex-shrink: 0
		width: 300px

		.action
			display: block
			margin-bottom: 10px
			color: #3b3d40
			font-weight: 700
			text-decoration: none
			font-size: 0.9rem

			&:hover
				color: #FFF

	&__table
		flex-grow: 1
		border: 4px solid #FFF

		table
			width: 100%

		td
			padding: 10px 20px
			background-color: rgba(34, 21, 85, 0.35)
			border: 2px solid #FFF
