.page[data-type='news']
	.stripes
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 2

		&:before
			content: ''
			position: absolute
			left: 0
			top: 60%
			bottom: 0
			width: 1500px
			height: 120px
			border: 1px solid #CCC
			border-width: 10px 0 10px 0
			z-index: 2
			transform: rotate(45deg)
			transform-origin: 0 0

	.stripe-1
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		padding-left: 30px
		background: linear-gradient(135deg, transparent 0, transparent 20%, #FFF 20%, #FFF 100%)

	.content
		position: absolute
		z-index: 4
		top: 18%
		left: 14%
		right: 0

		h1
			margin-bottom: 30px
			padding-left: 14%
			font-size: 1.4rem
			text-transform: uppercase
			font-weight: 900
			text-align: left

			@media screen and (min-height: 900px)
				padding-left: 13%

			&:before
				content: ''
				position: absolute
				display: inline-block
				margin-left: -40px
				margin-top: -18px
				@include sprite($head-arrows-3)

.news-list
	position: relative
	width: 100%
	margin-bottom: 30px

	&__item
		display: none
		position: relative
		margin-bottom: 20px

	&__inner
		display: block
		position: relative
		height: 265px
		margin: 20px 0
		margin-right: 50px
		padding-left: 250px
		padding-bottom: 10px
		border: 1px solid #6b50d6
		text-decoration: none

		&:hover
			border-color: #d12a36

	.date
		display: block
		padding: 10px 0
		color: #b5b5b5
		font-size: 0.85rem

		&:before
			content: ''
			display: inline-block
			margin-right: 5px
			vertical-align: middle
			@include sprite($ico-date)

	&__inner:hover .date
		color: $default-text-color

	.title
		position: relative
		margin: 0 -20px 10px -60px
		padding: 5px 10px
		background-color: #6b50d6
		text-transform: uppercase
		color: #FFF
		font-weight: 900
		font-size: 0.95rem
		line-height: 1.25
		z-index: 1

	.text
		overflow: hidden
		max-height: 132px
		padding-right: 5px
		font-size: 0.85rem
		line-height: 1.2
		color: $default-text-color

	.image
		position: absolute
		left: 7px
		top: 3px
		border: 6px solid #F2F2F2
		z-index: -1

.control
	position: absolute
	right: 10px
	bottom: 40px
	font-weight: 900
	text-transform: uppercase
	z-index: 10

	&__next,
	&__prev
		position: relative
		cursor: pointer

	&__next:before,
	&__prev:before
		content: ''
		position: absolute
		top: -32px

	&__prev
		float: right
		padding-left: 35px

		&:before
			left: 0
			@include sprite($big-arrow-left)

	&__next
		float: left
		clear: right
		margin: 20px 140px 0 0
		padding-right: 35px

		&:before
			right: 0
			@include sprite($big-arrow-right)

.news-detail
	margin-bottom: 20px

	&__title
		margin-bottom: 5px!important
		padding: 25px 30px!important
		background-color: #6b50d6
		text-transform: uppercase
		font-weight: 900
		color: #FFF

		&:before
			display: none!important

	&__date
		padding: 10px 0
		color: #b5b5b5

		&:before
			content: ''
			display: inline-block
			margin-right: 5px
			@include sprite($ico-date)

	&__content
		position: relative
		padding-left: 260px
		font-size: 0.9rem
		line-height: 1.3

		p+p
			margin-top: 10px

	&__image
		position: absolute
		left: 0
		top: 0

	.scrollbar
		position: relative
		max-height: 310px
		padding-right: 20px
