.page[data-type='flat-param']

	.content
		position: absolute
		left: 150px
		right: 0
		top: 50%
		transform: translateY(-50%)

		@media screen and (max-height: 700px)
			margin-top: 30px

	h1
		position: relative
		width: 50%
		margin: 0 0 80px auto
		color: #FFF
		text-transform: uppercase
		font-weight: 900
		font-size: 1.7rem
		text-shadow: 2px 2px $default-text-color

		@media screen and (max-height: 700px)
			margin-bottom: 30px

		&:before
			content: ''
			position: absolute
			left: 0
			bottom: -1px
			width: 100%
			height: 6px
			box-shadow: 2px 1px 0 1px $default-text-color
			background: #FFF

	.apart-block
		position: absolute
		top: -48px
		left: 0
		width: auto
		height: auto

		.num
			display: inline-block
			font-size: 9rem
			color: rgba(59, 61, 64, 0.34)
			font-weight: 700
		.text
			position: absolute
			top: 50px
			left: 100%
			margin-left: -35px
			text-transform: uppercase
			font-weight: 900
			font-size: 1.5rem
			color: rgba(255, 255, 255, 0.31)

.kvbesestabsearch
	display: none

.param-section
	margin-right: 30px
	color: #FFF

	&__content
		display: flex

	&__controls
		flex-shrink: 0
		// max-width: 28%
		max-width: 400px
		margin: 30px
		padding: 15px 10px 0 15px
		box-sizing: border-box
		text-align: center

	&__table
		flex-grow: 1
		position: relative

.param-table
	position: relative
	max-height: 45vh
	padding-right: 30px

	&_fixed
		margin-bottom: -1px

	&__content
		width: 100%
		border-collapse: collapse
		table-layout: fixed

		&.fixed
			position: absolute
			top: 0
			left: 0
			width: calc(100% - 30px)

	.sort
		position: absolute
		bottom: 10px
		left: 50%
		transform: translateX(-50%)
		cursor: pointer
		@include sprite($sort-down)

	th:hover .sort
		@include sprite($sort-down-active)

	.desc
		.sort
			@include sprite($sort-up)

	th:hover.desc .sort
		@include sprite($sort-up-active)

	td, th
		border: 2px solid #FFF
		border-bottom: none
		padding: 15px 0
		text-align: center

	td
		font-size: 0.9rem
		font-weight: 700

		&:nth-child(8)
			font-weight: bold

	th
		position: relative
		padding-bottom: 30px
		font-weight: bold
		border-bottom: 2px solid #FFF
		background-color: rgba(255, 255, 255, 0.5)
		color: #3b3d40
		user-select: none
		text-transform: uppercase
		font-size: 0.9rem
		line-height: 1.3
		word-wrap: break-word

		@media screen and (max-width: 1050px)
			font-size: 0.8rem

	tr
		position: relative
		cursor: pointer

	tbody tr:hover
		background-color: #8dbf16

.param-selector
	text-align: center

	input
		opacity: 0

	&__title
		margin-top: 10px
		font-weight: 700
		text-transform: uppercase
		font-size: 0.9rem

	&_floor,
	&_rooms,
	&_price
		margin-bottom: 35px
