.page[data-type='partners']
	.stripes
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 2

	.stripe-1
		position: absolute
		top: 0
		left: 20%
		width: 100%
		height: 100%
		transform: skew(-45deg)
		background: #FFF
		transform-origin: 0 100%

		@media screen and (max-width: 1300px)
			left: 10%

	.content
		position: absolute
		top: 50%
		left: 0
		width: 33%
		height: 410px
		margin-top: -230px
		transform: skew(45deg)
		transform-origin: 0 0

		@media screen and (max-width: 1300px)
			width: 34%

		.scrollbar
			position: relative
			padding-right: 20px
			max-height: 380px
			overflow: hidden

		h1
			margin-bottom: 30px
			padding-left: 35px
			font-size: 1.4rem
			text-transform: uppercase
			font-weight: 900

			&:before
				content: ''
				position: absolute
				display: inline-block
				margin-left: -40px
				@include sprite($title-arrows-big-outset)
		p
			font-size: 0.87rem
			line-height: 1.3
		p+p
			margin-top: 10px
		em
			font-weight: bold
			font-size: 1.2rem
			text-transform: uppercase

	.partners-logo
		position: absolute
		top: 50%
		left: 0
		width: 410px
		height: 410px
		margin-top: -205px
		margin-left: -205px
		transform: skew(45deg)

		.partner
			position: absolute
			width: 200px
			height: 200px
			border: 6px solid #f2f2f2
			background: #FFF
			text-align: center
			line-height: 200px
			cursor: pointer

			&:hover
				border-color: #ab99f0

			&.active
				border-color: #6b50d6

			img
				vertical-align: middle

		.partner:nth-child(1)
			right: 0
			top: 0
		.partner:nth-child(2)
			right: 0
			bottom: 0
		.partner:nth-child(3)
			left: 0
			bottom: 0

.partner-description
	display: none

	&.active
		display: block
