.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	color: #444;
	text-shadow: none;
	border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
	max-width: 100%;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading {
	/*background-image: url('fancybox_sprite.png');*/
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	/*background: url('/pic/design/fancybox_loading.gif') center center no-repeat;*/
}

.fancybox-close {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 8040;
	width: 60px;
	height: 60px;
	background-color: #6b50d6;
	font-size: 3.5rem;
	color: #56AA82;
	text-align: center;
	line-height: 44px;
	cursor: pointer;
	text-decoration: none;
}
.fancybox-close:before {
	content: '';
	display: inline-block;
	width: 26px;
	height: 22px;
	background: url('/pic/design/close.svg') 50% 50% no-repeat;
}
.fancybox-close:hover:before {
	color: #000;
}
.fancybox-close-position {
	top: 0;
	right: 0!important;
}
.fancybox-close:hover:before {
	opacity: 0.4;
}
.cam-close-butt .fancybox-close {
	top: 16px;
	right: -25px;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	z-index: 8040;
}

.fancybox-prev {
	left: -60px;
}

.fancybox-next {
	right: -60px;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	padding: 10px 13px;
	cursor: pointer;
	z-index: 8040;
}
.fancybox-nav span:hover {
	opacity: 1;
}
.fancybox-prev span {
	left: 0;
}
.fancybox-next span {
	right: 0;
}

.fancybox-prev span:before,
.fancybox-next span:before {
	position: relative;
	content: '';
	display: block;
	width: 29px;
	height: 40px;
}

.fancybox-prev span:before {
	background: url('/pic/design/arrow-prev.svg');
}
.fancybox-prev:hover span:before {
	left: -3px;
}

.fancybox-next span:before {
	background: url('/pic/design/arrow-next.svg');
}
.fancybox-next:hover span:before {
	right: -3px;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
		overflow: hidden !important;
		width: auto;
}

.fancybox-lock body {
		overflow: hidden !important;
}

.fancybox-lock-test {
		overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	display: none;
	z-index: 8010;
	background: rgba(0, 0, 0, 0.6);
	background-size: cover !important;
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font-size: 14px;
	position: absolute;
	left: 0;
	bottom: 0;
	text-shadow: none;
	z-index: 8050;
	background: #FFF;
	width: 100%;
	padding: 10px 20px;
	color: $default-text-color;
	text-align: left;
	font-weight: bold;
	border: 6px solid #6b50d6;
	text-transform: uppercase;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	top: 100%;
	bottom: auto;
	left: 15px;
	right: 15px;
	width: auto;
	margin-top: -15px;
	z-index: 8050;
}

.fancybox-title-float-wrap .child {
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	color: $default-text-color;
	line-height: 1.3;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}
