.irs-from,
.irs-to,
.irs-single
	width: 54px
	height: 54px
	background: url('/pic/design/range-tip.png') 0 0 no-repeat
	background-size: contain
	line-height: 54px
	font-size: 1.1rem
	font-weight: 700

.irs-single
	width: 60px
	height: 60px
	line-height: 60px
	font-size: 1rem
