include ../mixins/index
include ../mixins/aparts

doctype html
html(lang='ru')
	include ../blocks/head
	body
		.page-viewport
			include ../blocks/header

			block content

			include ../blocks/footer
			include ../blocks/secondary-nav
			include ../blocks/application

		script(src='https://yastatic.net/jquery/2.1.4/jquery.min.js')
		script(src='http://reform.ndv.ru/jscripts/ion.rangeSlider.min.js')
		script(src='/jscripts/slick.min.js')
		script(src='/jscripts/bundle.js')
