.application-form
	form(action='.' method='POST')
		h3 Оставить заявку
		p
			input(type='text' name='name' placeholder='Имя' required)
		p
			input(type='text' name='tel' placeholder='Телефон' required)
		p
			input(type='email' name='email' placeholder='E-mail')
		p
			textarea(type='text' name='comment' placeholder='Комментарий')

		button(type='submit') Отправить

		.close

+svg-cover
