footer.footer
	.footer__block.logo-ndv: img(src='/pic/design/ndv-logo.png' width=68 height=43)
	.footer__block.tel
		.ico.ico-24
		| +7 (495) <b>988-44-22</b>
	.footer__block.request
		| <svg class="back" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260.000092 51"><path fill-rule="evenodd" clip-rule="evenodd" fill="#4F3D98" d="M0 0h260l-51 51H51L0 0z"/></svg>
		| Оставить заявку
	.footer__block.social
		a(href='http://vk.com/').ico.ico-vk
		a(href='http://facebook.com/').ico.ico-fb
