header.header
	nav
		ul
			li
				a(href='/about.html') О проекте
			li
				a(href='/genplan.html') Генплан
			li
				a(href='/') Апартаменты
			li
				a(href='/location.html') Расположение
			li
				a(href='/mortage.html') Ипотека
			li
				a(href='/contacts.html') Контакты

.secondary-nav-button
	i
	i
	i

.logo: a(href='/'): img(src='/pic/design/logo.svg' width=200 height=51)
