.secondary-nav
	nav.secondary-nav__list
		.secondary-nav__item: a(href='/about.html') О комплексе
		.secondary-nav__item: a(href='/location.html') Расположение
		.secondary-nav__item: a(href='/') Инфраструктура
		.secondary-nav__item: a(href='/genplan.html') Генплан
		.secondary-nav__item: a(href='/choose-param.html') Выбрать квартиру
		.secondary-nav__item: a(href='/mortage.html') Ипотека
		.secondary-nav__item: a(href='/interchange.html') Взаиомзачет
		.secondary-nav__item: a(href='/documents.html') Документы
		.secondary-nav__item: a(href='/news.html') Новости
		.secondary-nav__item: a(href='/participants.html') Участники строительства
		.secondary-nav__item: a(href='/construction.html') Ход строительства
		.secondary-nav__item: a(href='/contacts.html') Контакты
