mixin housemodbigs
	div.
		<table class="sort-table" width="100%" border="1" bordercolor="#999999" cellspacing="0" cellpadding="10" style="border-collapse: collapse;" id="realize_table">
			<tbody>
				<tr onclick="document.location='/apart-detail/?id=184196&amp;build=1987';">
					<td>2</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">15</td>
					<td>15</td>
					<td>36.20</td>
					<td>
						<nobr rel="td-number-format">185 028.00</nobr>
					</td>
					<td>6 698 014</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184211&amp;build=1987';">
					<td>3</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">38</td>
					<td>6</td>
					<td>54.00</td>
					<td>
						<nobr rel="td-number-format">167 500.00</nobr>
					</td>
					<td>9 045 000</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184218&amp;build=1987';">
					<td>3</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">45</td>
					<td>13</td>
					<td>38.90</td>
					<td>
						<nobr rel="td-number-format">188 227.00</nobr>
					</td>
					<td>7 322 000</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184242&amp;build=1987';">
					<td>4</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">77</td>
					<td>13</td>
					<td>38.90</td>
					<td>
						<nobr rel="td-number-format">187 661.00</nobr>
					</td>
					<td>7 300 001</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184249&amp;build=1987';">
					<td>4</td>
					<td class="tabroom_2">2</td>
					<td class="numkv">84</td>
					<td>20</td>
					<td>56.30</td>
					<td>
						<nobr rel="td-number-format">194 317.00</nobr>
					</td>
					<td>10 940 000</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184259&amp;build=1987';">
					<td>5</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">102</td>
					<td>6</td>
					<td>54.00</td>
					<td>
						<nobr rel="td-number-format">153 704.00</nobr>
					</td>
					<td>8 300 000</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184265&amp;build=1987';">
					<td>5</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">108</td>
					<td>12</td>
					<td>40.20</td>
					<td>
						<nobr rel="td-number-format">181 593.00</nobr>
					</td>
					<td>7 300 001</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184276&amp;build=1987';">
					<td>5</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">119</td>
					<td>23</td>
					<td>39.50</td>
					<td>
						<nobr rel="td-number-format">200 000.00</nobr>
					</td>
					<td>7 900 000</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184280&amp;build=1987';">
					<td>6</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">131</td>
					<td>3</td>
					<td>50.40</td>
					<td>
						<nobr rel="td-number-format">181 500.00</nobr>
					</td>
					<td>9 147 600</td>
					<td>
						<nobr rel="td-number-format">7 534 800.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184286&amp;build=1987';">
					<td>6</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">137</td>
					<td>9</td>
					<td>53.70</td>
					<td>
						<nobr rel="td-number-format">179 500.00</nobr>
					</td>
					<td>9 639 150</td>
					<td>
						<nobr rel="td-number-format">8 028 150.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184287&amp;build=1987';">
					<td>6</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">138</td>
					<td>10</td>
					<td>53.50</td>
					<td>
						<nobr rel="td-number-format">179 500.00</nobr>
					</td>
					<td>9 603 250</td>
					<td>
						<nobr rel="td-number-format">7 998 250.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184303&amp;build=1987';">
					<td>7</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">161</td>
					<td>3</td>
					<td>51.40</td>
					<td>
						<nobr rel="td-number-format">183 500.00</nobr>
					</td>
					<td>9 431 900</td>
					<td>
						<nobr rel="td-number-format">7 787 100.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184307&amp;build=1987';">
					<td>7</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">165</td>
					<td>7</td>
					<td>54.60</td>
					<td>
						<nobr rel="td-number-format">180 500.00</nobr>
					</td>
					<td>9 855 300</td>
					<td>
						<nobr rel="td-number-format">8 271 900.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184317&amp;build=1987';">
					<td>7</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">175</td>
					<td>17</td>
					<td>61.10</td>
					<td>
						<nobr rel="td-number-format">180 500.00</nobr>
					</td>
					<td>11 028 550</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184324&amp;build=1987';">
					<td>8</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">188</td>
					<td>2</td>
					<td>48.40</td>
					<td>
						<nobr rel="td-number-format">196 500.00</nobr>
					</td>
					<td>9 510 600</td>
					<td>
						<nobr rel="td-number-format">7 768 200.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184328&amp;build=1987';">
					<td>8</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">192</td>
					<td>6</td>
					<td>54.50</td>
					<td>
						<nobr rel="td-number-format">190 500.00</nobr>
					</td>
					<td>10 382 250</td>
					<td>
						<nobr rel="td-number-format">8 747 250.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184335&amp;build=1987';">
					<td>8</td>
					<td class="tabroom_3">3</td>
					<td class="numkv">199</td>
					<td>13</td>
					<td>76.32</td>
					<td>
						<nobr rel="td-number-format">224 057.00</nobr>
					</td>
					<td>17 099 999</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184343&amp;build=1987';">
					<td>9</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">213</td>
					<td>3</td>
					<td>50.40</td>
					<td>
						<nobr rel="td-number-format">187 500.00</nobr>
					</td>
					<td>9 450 000</td>
					<td>
						<nobr rel="td-number-format">8 240 400.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184348&amp;build=1987';">
					<td>9</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">218</td>
					<td>8</td>
					<td>60.30</td>
					<td>
						<nobr rel="td-number-format">184 500.00</nobr>
					</td>
					<td>11 125 350</td>
					<td>
						<nobr rel="td-number-format">9 859 050.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184349&amp;build=1987';">
					<td>9</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">219</td>
					<td>9</td>
					<td>60.30</td>
					<td>
						<nobr rel="td-number-format">184 500.00</nobr>
					</td>
					<td>11 125 350</td>
					<td>
						<nobr rel="td-number-format">9 859 050.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184350&amp;build=1987';">
					<td>9</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">220</td>
					<td>10</td>
					<td>60.00</td>
					<td>
						<nobr rel="td-number-format">184 500.00</nobr>
					</td>
					<td>11 070 000</td>
					<td>
						<nobr rel="td-number-format">9 810 000.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184351&amp;build=1987';">
					<td>9</td>
					<td class="tabroom_3">3</td>
					<td class="numkv">221</td>
					<td>11</td>
					<td>126.81</td>
					<td>
						<nobr rel="td-number-format">164 814.00</nobr>
					</td>
					<td>20 900 000</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184352&amp;build=1987';">
					<td>9</td>
					<td class="tabroom_3">3</td>
					<td class="numkv">222</td>
					<td>12</td>
					<td>129.37</td>
					<td>
						<nobr rel="td-number-format">184 500.00</nobr>
					</td>
					<td>23 868 765</td>
					<td>
						<nobr rel="td-number-format">21 488 357.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184354&amp;build=1987';">
					<td>9</td>
					<td class="tabroom_2">2</td>
					<td class="numkv">224</td>
					<td>14</td>
					<td>121.14</td>
					<td>
						<nobr rel="td-number-format">184 500.00</nobr>
					</td>
					<td>22 350 330</td>
					<td>
						<nobr rel="td-number-format">19 484 700.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184358&amp;build=1987';">
					<td>10</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">228</td>
					<td>2</td>
					<td>48.40</td>
					<td>
						<nobr rel="td-number-format">191 500.00</nobr>
					</td>
					<td>9 268 600</td>
					<td>
						<nobr rel="td-number-format">8 107 000.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184363&amp;build=1987';">
					<td>10</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">233</td>
					<td>7</td>
					<td>60.00</td>
					<td>
						<nobr rel="td-number-format">186 500.00</nobr>
					</td>
					<td>11 190 000</td>
					<td>
						<nobr rel="td-number-format">10 050 000.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184364&amp;build=1987';">
					<td>10</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">234</td>
					<td>8</td>
					<td>59.40</td>
					<td>
						<nobr rel="td-number-format">186 500.00</nobr>
					</td>
					<td>11 078 100</td>
					<td>
						<nobr rel="td-number-format">9 949 500.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184365&amp;build=1987';">
					<td>10</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">235</td>
					<td>9</td>
					<td>59.40</td>
					<td>
						<nobr rel="td-number-format">186 500.00</nobr>
					</td>
					<td>11 078 100</td>
					<td>
						<nobr rel="td-number-format">9 949 500.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184366&amp;build=1987';">
					<td>10</td>
					<td class="tabroom_3">3</td>
					<td class="numkv">236</td>
					<td>10</td>
					<td>129.84</td>
					<td>
						<nobr rel="td-number-format">186 500.00</nobr>
					</td>
					<td>24 215 160</td>
					<td>
						<nobr rel="td-number-format">21 488 520.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=184368&amp;build=1987';">
					<td>10</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">238</td>
					<td>12</td>
					<td>48.35</td>
					<td>
						<nobr rel="td-number-format">191 500.00</nobr>
					</td>
					<td>9 259 025</td>
					<td>
						<nobr rel="td-number-format">8 001 925.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=197481&amp;build=1987';">
					<td>2</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">28</td>
					<td>28</td>
					<td>57.40</td>
					<td>
						<nobr rel="td-number-format">144 600.00</nobr>
					</td>
					<td>8 300 000</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=197504&amp;build=1987';">
					<td>5</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">123</td>
					<td>27</td>
					<td>51.60</td>
					<td>
						<nobr rel="td-number-format">155 039.00</nobr>
					</td>
					<td>8 000 013</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=197511&amp;build=1987';">
					<td>6</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">153</td>
					<td>25</td>
					<td>39.10</td>
					<td>
						<nobr rel="td-number-format">179 028.00</nobr>
					</td>
					<td>6 999 995</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=197519&amp;build=1987';">
					<td>7</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">183</td>
					<td>25</td>
					<td>58.25</td>
					<td>
						<nobr rel="td-number-format">153 000.00</nobr>
					</td>
					<td>8 912 250</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=197520&amp;build=1987';">
					<td>7</td>
					<td class="tabroom_2">2</td>
					<td class="numkv">184</td>
					<td>26</td>
					<td>71.95</td>
					<td>
						<nobr rel="td-number-format">176 512.00</nobr>
					</td>
					<td>12 700 001</td>
					<td>
						<nobr rel="td-number-format"></nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=197524&amp;build=1987';">
					<td>8</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">206</td>
					<td>20</td>
					<td>52.40</td>
					<td>
						<nobr rel="td-number-format">190 500.00</nobr>
					</td>
					<td>9 982 200</td>
					<td>
						<nobr rel="td-number-format">8 148 200.00</nobr>
					</td>
				</tr>
				<tr onclick="document.location='/apart-detail/?id=197525&amp;build=1987';">
					<td>8</td>
					<td class="tabroom_1">1</td>
					<td class="numkv">207</td>
					<td>21</td>
					<td>56.60</td>
					<td>
						<nobr rel="td-number-format">201 500.00</nobr>
					</td>
					<td>11 404 900</td>
					<td>
						<nobr rel="td-number-format">8 801 300.00</nobr>
					</td>
				</tr>
			</tbody>
		</table>
