mixin apart-choose
	.apart-choose
		a(href='/').text <b>Выбор</b> апартаментов
		.ico.ico-search
		include ../../../dist/pic/design/tri-left.svg

mixin svg-cover
	.svg-cover(data-step1='M1402,800h-2V0.6c0-0.3,0-0.3,0-0.6h2v294V800z' data-step2='M1400,800H383L770.7,0.6c0.2-0.3,0.5-0.6,0.9-0.6H1400v294V800z' data-step3='M1400,800H0V0.6C0,0.4,0,0.3,0,0h1400v294V800z' data-step4='M615,800H0V0.6C0,0.4,0,0.3,0,0h615L393,312L615,800z' data-step5='M0,800h-2V0.6C-2,0.4-2,0.3-2,0h2v312V800z' data-step6='M-2,800h2L0,0.6C0,0.3,0,0.3,0,0l-2,0v294V800z' data-step7='M0,800h1017L629.3,0.6c-0.2-0.3-0.5-0.6-0.9-0.6L0,0l0,294L0,800z' data-step8='M0,800h1400V0.6c0-0.2,0-0.3,0-0.6L0,0l0,294L0,800z' data-step9='M785,800h615V0.6c0-0.2,0-0.3,0-0.6L785,0l222,312L785,800z' data-step10='M1400,800h2V0.6c0-0.2,0-0.3,0-0.6l-2,0v312V800z')
		|<svg width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 1400 800">
		|	<path id="changing-path" d="M1402,800h-2V0.6c0-0.3,0-0.3,0-0.6h2v294V800z" />
		|</svg>

mixin back-nav
	.back-link-triangle
		.text Вернуться <b>назад</b>
		include ../../../dist/pic/design/back-nav.svg
