extends ./layouts/default

block head
	- pageTitle = '404 RE|FORM'

block content
	.page.back-2(data-type='404')
		.content
			h1
				b 404
				span Страница<br> не&nbsp;найдена

			a(href='/').link-to-main на главную
