extends ./layouts/default

block head
	- pageTitle = 'О проекте RE|FORM'

block content
	.page.back-2(data-type='about')
		ul.benefit
			li <span>15 мин до садового кольца</span>
			li <span>5 мин до метро</span>
			li <span>видовые апартаменты с террасами</span>
			li <span>Апартаменты от 36 м<sup>2</sup></span>
			li <span>подземный паркинг</span>

		.stripes
			.stripe-1
				.blocks
					a(href='#1').block-1
						.content
							include ../../dist/pic/design/ico-furniture.svg
							|отделка
					a(href='#about-video').block-2.video-link
						.content Видео<br> о проекте
					a(href='/pic/design/news-list-stub.jpg').block-3.fancy-group
						.content
							include ../../dist/pic/design/ico-groups.svg
							|Входные<br> группы
			.stripe-2
				.text-content
					h1 О проекте
					.scrollbar.scrollbar-arrow
						p Авторы проекта создали интересную архитектурную концепцию, предложив покупателям недвижимости пересмотреть традиционные взгляды на организацию пространства.
						p Практически в каждых апартаментах есть небольшой балкон, а начиная с 5-го этажа – можно приобрести роскошные апартаменты с потрясающими открытыми террасами площадью до 98 кв. м. Прекрасный вид на город открывается с верхних этажей, благодаря эффектному панорамному остеклению. Таким образом, необычная динамика архитектуры удачно сочетается с функциональностью.
						p Общий стиль здания – модерн с элементами ар-деко. Выразительный дизайн фасадов выполнен в лучших традициях космополитизма. Такой проект смотрелся бы органично на одной из улиц Нью-Йорка или Лондона. Тем не менее, Re:Form стал украшением старинного района Москвы.
						p Интерьеры внутренних помещений созданы в духе стильного минимализма. В данном комплексе будут установлены лифты финской компании KONE — лидера среди международных производителей лифтов. Инновационное оборудование отличается эффективностью в энергосбережении, безопасностью и плавностью хода. Кабины лифтов выполнены в современном дизайне, разработанном специально для этого проекта.
						p Входные группы этого комплекса созданы по специальному дизайн-проекту, в их оформлении нет подчеркнутой роскоши, но в отделке использованы дорогие натуральные материалы, такие, как натуральное дерево и мрамор, подчеркивающие высокий статус владельцев апартаментов.
						p Для внутренней отделки апартаментов в комплексе Re:form подойдут такие ультрамодные решения, как хай-тек, минимализм или экостиль.
						p Подробнее ознакомиться с вариантами отделки можно здесь.

		+apart-choose

	video(width=640 height=360 controls='controls' poster='http://media.ndv.ru/video/novos/reform_video_1.jpg')#about-video.about-video
		source(src='http://media.ndv.ru/video/novos/reform_video_1.mp4' type='video/mp4')
		source(src='http://media.ndv.ru/video/novos/reform_video_1.webm' type='video/webm')

	.groups-images
		a(href='http://reform.ndv.ru/pic/design_old/reform_apart_variant_1_3_big.jpg' title='Интерьеры входных групп' rel='fancy-group')
		a(href='http://reform.ndv.ru/pic/design_old/reform_apart_variant_1_3_big.jpg' title='Интерьеры входных групп' rel='fancy-group')
		a(href='http://reform.ndv.ru/pic/design_old/reform_apart_variant_1_3_big.jpg' title='Интерьеры входных групп' rel='fancy-group')
