extends ./layouts/default

block head
	- pageTitle = 'Машиноместа RE|FORM'

block content
	.page.back-5(data-type='car-detail')
		.content
			h1 Машиноместа

			.car-plan
				.car-plan__preview
					img(src='/pic/design/car-preview.jpg' alt='')
				.car-plan__meta
					ul.car-plan__legend
						li.free - свободно
						li.reserve - забронировано

					.car-place
						h2.car-place__title Информация о машиноместе
						ul.car-place__info
							li № - 900
							li Статус - в продаже
						.car-place__price
							.title Общая стоимость
							.price 2 300 400 <span class="rouble">i</span>

			.apart-block
				.num 15
				.text последних машиномест

		.back-link-triangle
			.text Вернуться <b>назад</b>
			include ../../dist/pic/design/back-nav.svg
