extends ./layouts/default

block head
	- pageTitle = 'Ход строительства RE|FORM'

block content
	.page.back-1(data-type='construction')
		.content
			h1 Ход строительства

			.construction-list.slick-slider
				.construction-list__item
					a(href='/construction-detail.html')
						.construction-list__date
							include ../../dist/pic/design/ico-eye.svg
							|29/09/2015
						img(src='/pic/design/contruction-image-stub.jpg')
				.construction-list__item
					a(href='/construction-detail.html')
						.construction-list__date
							include ../../dist/pic/design/ico-eye.svg
							|29/09/2015
						img(src='/pic/design/contruction-image-stub.jpg')
				.construction-list__item
					a(href='/construction-detail.html')
						.construction-list__date
							include ../../dist/pic/design/ico-eye.svg
							|29/09/2015
						img(src='/pic/design/contruction-image-stub.jpg')
				.construction-list__item
					a(href='/construction-detail.html')
						.construction-list__date
							include ../../dist/pic/design/ico-eye.svg
							|29/09/2015
						img(src='/pic/design/contruction-image-stub.jpg')
				.construction-list__item
					a(href='/construction-detail.html')
						.construction-list__date
							include ../../dist/pic/design/ico-eye.svg
							|29/09/2015
						img(src='/pic/design/contruction-image-stub.jpg')
				.construction-list__item
					a(href='/construction-detail.html')
						.construction-list__date
							include ../../dist/pic/design/ico-eye.svg
							|29/09/2015
						img(src='/pic/design/contruction-image-stub.jpg')
				.construction-list__item
					a(href='/construction-detail.html')
						.construction-list__date
							include ../../dist/pic/design/ico-eye.svg
							|29/09/2015
						img(src='/pic/design/contruction-image-stub.jpg')

			.pagination
				span.pagination__page.current: a(href='/') 1
				span.pagination__page: a(href='/') 2
				span.pagination__page: a(href='/') 3
				span.pagination__ellipsis &hellip;
				span.pagination__page: a(href='/') 5
				span.pagination__page: a(href='/') 6
				span.pagination__ellipsis &hellip;
				span.pagination__page: a(href='/') 10
				span.pagination__page: a(href='/') 11

		.control
			span.control__prev Предыдущая
			span.control__next Следующая

		.stripes
			.stripe-1
