extends ./layouts/default

block head
	- pageTitle = 'Ход строительства детальная RE|FORM'

block content
	.page.back-1(data-type='construction')
		.content
			h1 22/09/2015 г.

			.construction-preview-list.slick-slider
				.construction-preview-list__item
					a(href='/pic/design/contruction-image-stub.jpg' rel='fancybox').fancybox
						.construction-preview-list__title Продолжение фасадных работ и остекления
						img(src='/pic/design/contruction-image-stub.jpg' width=300 height=300)
				.construction-preview-list__item
					a(href='/pic/design/contruction-image-stub.jpg' rel='fancybox').fancybox
						.construction-preview-list__title Продолжение фасадных работ и остекления
						img(src='/pic/design/contruction-image-stub.jpg' width=300 height=300)
				.construction-preview-list__item
					a(href='/pic/design/contruction-image-stub.jpg' rel='fancybox').fancybox
						.construction-preview-list__title Продолжение фасадных работ и остекления
						img(src='/pic/design/contruction-image-stub.jpg' width=300 height=300)
				.construction-preview-list__item
					a(href='/pic/design/contruction-image-stub.jpg' rel='fancybox').fancybox
						.construction-preview-list__title Продолжение фасадных работ и остекления
						img(src='/pic/design/contruction-image-stub.jpg' width=300 height=300)
				.construction-preview-list__item
					a(href='/pic/design/contruction-image-stub.jpg' rel='fancybox').fancybox
						.construction-preview-list__title Продолжение фасадных работ и остекления
						img(src='/pic/design/contruction-image-stub.jpg' width=300 height=300)
				.construction-preview-list__item
					a(href='/pic/design/contruction-image-stub.jpg' rel='fancybox').fancybox
						.construction-preview-list__title Продолжение фасадных работ и остекления
						img(src='/pic/design/contruction-image-stub.jpg' width=300 height=300)
				.construction-preview-list__item
					a(href='/pic/design/contruction-image-stub.jpg' rel='fancybox').fancybox
						.construction-preview-list__title Продолжение фасадных работ и остекления
						img(src='/pic/design/contruction-image-stub.jpg' width=300 height=300)

			a(href='/').back-link-default Назад

		.control
			span.control__prev Предыдущая
			span.control__next Следующая

		.stripes
			.stripe-1
