extends ./layouts/default

block head
	- pageTitle = 'Контакты RE|FORM'

block content
	.page(data-type='contact')
		.stripes
			.stripe-1
				.metro-block
					h6 Выберите ближайшее метро:
					.selector.office-selector
						.selector__label
						.selector__dropdown

			.stripe-2
				.text-content
					h1 Контакты
					.scrollbar.scrollbar-arrow
						p Для удобства клиентов на объекте открыт офис продаж "НДВ-Недвижимость".
						p <img class='svg-ico' src='/pic/design/ico-address.svg'> г. Москва, ул. Хромова (рядом с вл. 3)
						p <img class='svg-ico' src='/pic/design/ico-metro.svg'> Преображенская площадь
						p <img class='svg-ico' src='/pic/design/ico-tel.svg'> +7 (495) 988-44-22
						p <img class='svg-ico' src='/pic/design/ico-mail.svg'> <a href='mailto:ndv@ndv.ru'>ndv@ndv.ru</a>

					a(href='http://www.ndv.ru/pic/office/5503-mprev.jpg').fancybox: img(src='/pic/design/contact-image.png' width=140 height=140 alt='').image

		+apart-choose
		.contact-map#contact-map
