extends ./layouts/default

block head
	- pageTitle = 'Отделка RE|FORM'

block content
	.page.back-2(data-type='decor')
		.stripes
			.stripe-1
				.content
					h1 Варианты<br> отделки<br> апартаментов<br> в ЖК «Re:Form»
					.scrollbar.scrollbar-arrow.text
						p Для внутренней отделки апартаментов в комплексе Re:form подойдут такие ультрамодные решения, как хай-тек, минимализм или экостиль.
						p Для внутренней отделки апартаментов в комплексе Re:form подойдут такие ультрамодные решения, как хай-тек, минимализм или экостиль.
						p Для внутренней отделки апартаментов в комплексе Re:form подойдут такие ультрамодные решения, как хай-тек, минимализм или экостиль.
						p Для внутренней отделки апартаментов в комплексе Re:form подойдут такие ультрамодные решения, как хай-тек, минимализм или экостиль.
						p Для внутренней отделки апартаментов в комплексе Re:form подойдут такие ультрамодные решения, как хай-тек, минимализм или экостиль.
						p Для внутренней отделки апартаментов в комплексе Re:form подойдут такие ультрамодные решения, как хай-тек, минимализм или экостиль.

				.decor-type
					a(href='/').decor-type__item
						.decor-type__content
							h6 Вариант 1
							b минимализм
					a(href='/').decor-type__item
						.decor-type__content
							h6 Вариант 2
							b хай-тек
					a(href='/').decor-type__item
						.decor-type__content
							h6 Вариант 3
							b хай-тек

			.stripe-2

		+apart-choose
		+back-nav

	.decor-gallery__wrap
		.decor-gallery.decor-gallery-1
			img(src='/pic/design/sl-1.jpg' alt='')
			img(src='/pic/design/sl-2.jpg' alt='')
			img(src='/pic/design/sl-3.jpg' alt='')
			img(src='/pic/design/sl-4.jpg' alt='')
			//- .decor-gallery__description
