extends ./layouts/default

block head
	- pageTitle = 'Документы RE|FORM'

block content
	.page.back-4(data-type='documents')
		.stripes
			.stripe-1
				.content
					h1 Документы
					.scrollbar.scrollbar-arrow
						ul.doc-list
							li: a(href='/') Градостроительный план земельного участка
							li: a(href='/') Градостроительный план земельного участка
							li: a(href='/') Свидетельство о государственной регистрации права на участок
							li: a(href='/') Положительное заключение экспертизы
							li: a(href='/') Проектная декларация, редакция 2
							li: a(href='/') Проектная декларация
