extends ./layouts/default

block head
	- pageTitle = 'Взаимозачет RE|FORM'

block content
	.page.back-1(data-type='exchange')
		ul.buy-step
			li.buy-step__step.buy-step__step-1
				.step
					.step__label ШАГ 1
					h6.step__title Выбор квартиры
					.step__text Вы определились что хотите жить в <b>«RE:Form»</b>. Связываетесь с нами.
			li.buy-step__step.buy-step__step-2
				.step
					.step__label ШАГ 2
					h6.step__title Заключаем договор
					.step__text Сразу после этого начинается активный поиск покупателя на Вашу недвижимость.
			li.buy-step__step.buy-step__step-3
				.step
					.step__label ШАГ 3
					h6.step__title Завершение сделки
					.step__text Покупатель найден! Вы подписываете два договора: продажи Вашего объекта и покупки квартиры

		.stripes
			.stripe-1
				.promo-text
					.line-1 Только 3 шага
					.line-2 отделяют вас от
					.line-3 апартаментов в
					.line-4 «RE:Form»
			.stripe-2
				.text-content
					h1 Взаимозачет
					.scrollbar.scrollbar-arrow
						p Улучшить свои жилищные условия, например, обменяв маленькую квартиру в старом районе Москвы на просторную двухкомнатную квартиру в городе Химки, можно с помощью программы взаимозачета. По той же цене вы получите квартиру в современном монолитном доме, расположенном в районе с развитой инфраструктурой и прекрасной транспортной доступностью.
						p Вам не нужно брать кредит, чтобы решить квартирный вопрос. Благодаря опции «взаимозачет» обменять старую квартиру на новую можно без дополнительных вложений.

		+apart-choose
