extends ./layouts/default

block head
	- pageTitle = 'Подбор параметров RE|FORM'

block content
	.page.back-5(data-type='choose')
		.content
			h1 Выбор апартаментов

			.flat-layout
				+housemodbigs

				a(href='/').by-param-link
					.svg-ico: img(src='/pic/design/ico-param.svg' alt='')
					| Подбор по параметрам

			.apart-block
				.num 30
				.text последних апартаментов

		.back-link-triangle
			.text Вернуться <b>назад</b>
			include ../../dist/pic/design/back-nav.svg
