extends ./layouts/default

block head
	- pageTitle = 'Квартира RE|FORM'

block content
	.page.back-5(data-type='flat-detail')
		.content
			h1 Выбор апартаментов

			.flat
				.flat__image
					img(src='/pic/design/flat-image.jpg' alt='')
				.flat__description
					h2 1 комнатная квартира

					ul.flat__meta
						li № на площадке - 90
						li Цена за м2 - 71 100 00
						li Площадь - 23,55 м2

					.price
						.price__title Общая стоимость
						.price__num 8&nbsp;956&nbsp;675 <span class="rouble">i</span>

				.flat__actions
					a(href='/').action.action-pdf
						.svg-ico: img(src='/pic/design/ico-pdf.svg' alt='')
						| PDF
					a(href='/').action.action-pdf
						.svg-ico: img(src='/pic/design/ico-print.svg' alt='')
						| ПЕЧАТЬ
					.action.action-mail
						input(type='text' placeholder='Email')
						.button

				.flat__foot
					.request Оставить заявку

					.social
						.social__label ПОДЕЛИТЬСЯ ССЫЛКОЙ:
						a(href='/').ico.s-vk
						a(href='/').ico.s-fb
						a(href='/').ico.s-tw
						a(href='/').ico.s-google
						a(href='/').ico.s-ok

			.apart-block
				.num 30
				.text последних апартаментов

		.back-link-triangle
			.text Вернуться <b>назад</b>
			include ../../dist/pic/design/back-nav.svg
