extends ./layouts/default

block head
	- pageTitle = 'Подбор параметров RE|FORM'

block content
	.page.back-5(data-type='flat-param')
		.content
			h1 Подбор по параметрам
			.param-section
				.param-section__content
					.param-section__controls
						.param-selector.param-selector_floor
							input(type='text')#range1
							.param-selector__title Этаж
						.param-selector.param-selector_rooms
							input(type='text')#range2
							.param-selector__title Кол-во комнат
						.param-selector.param-selector_price
							input(type='text')#range3
							.param-selector__title Цена млн. <span class="rouble">i</span>

					.param-section__table
						.param-table.param-table_fixed
							table(cellspacing=0 cellpadding=0).param-table__content
								thead
									tr
										th(data-sort-column=1)
											| Этаж
											.sort
										th(data-sort-column=2)
											| Кол&shy;-во<br> ком&shy;нат
											.sort
										th(data-sort-column=3)
											| Услов&shy;ный<br> номер
											.sort
										th(data-sort-column=4)
											| № на<br> этаже
											.sort
										th(data-sort-column=5)
											| Пло&shy;щадь<br> м<sup>2</sup>
											.sort
										th(data-sort-column=6)
											| Стои&shy;мость<br> РУБ
											.sort
										th(data-sort-column=7)
											| Общая стои&shy;мость
											.sort
										th(data-sort-column=8)
											| Стои&shy;мость по акции
											.sort
						.param-table.scrollbar.scrollbar-arrow
							+housemodbigs

			.apart-block
				.num 30
				.text последних апартаментов

		.back-link-triangle
			.text Вернуться <b>назад</b>
			include ../../dist/pic/design/back-nav.svg
