extends ./layouts/default

block head
	- pageTitle = 'Генплан RE|FORM'

block content
	.page(data-type='genplan')
		.genplan
			img(src='/pic/design/genplan.jpg' alt='')

			.svg-pos.
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1200">
					<symbol id="parking" viewBox="0 0 66 85">
						<path fill="#a3d726" fill-rule="evenodd" d="M33 0c18.23 0 33 14.77 33 33S49.97 72.02 33 85C15.97 71.9 0 51.23 0 33 0 14.77 14.77 0 33 0z" />
						<text font-weight="700" font-size="48" font-family="Arial" fill="#fff" y="53" x="22"><tspan>Р</tspan></text>
					</symbol>
					<symbol id="reform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66 85">
						<path fill="#6b50d6" fill-rule="evenodd" d="M33 0c18.23 0 33 14.77 33 33S49.97 72.02 33 85C15.97 71.9 0 51.23 0 33 0 14.77 14.77 0 33 0z" />
						<path fill="#fff" fill-rule="evenodd" d="M23.05 40v-8.84h1.1V40h-1.1zm-8.25-8.84h6.87v2.14h-4.12v1.07h3.3v2.15h-3.3v1.07h4.12V40H14.8v-8.84zM10.95 40l-.04-.13-1.33-3.35h-.83V40H6v-8.84h4.67c.78 0 1.49.08 2.15.5.73.47 1.08 1.24 1.08 2.09 0 1.15-.51 1.84-1.56 2.31L13.98 40h-3.03zm-.31-6.9c-.23-.11-.52-.11-.78-.11h-1.1v1.67h1c.59 0 1.31-.09 1.31-.84 0-.3-.16-.58-.43-.72z" />
						<path fill="#373838" fill-rule="evenodd" d="M29.1 36.52h3.03v-1.88H29.1V33.3h3.85v-2.14h-6.6V40h2.75l.01-3.4-.01-.08zm12.49-1c0-2.61-1.54-4.52-4.25-4.52s-4.25 1.91-4.25 4.52c0 2.49 1.55 4.48 4.25 4.48s4.25-1.99 4.25-4.48zm-5.59.02c0-.86.13-2.56 1.34-2.56s1.34 1.7 1.34 2.56c0 .84-.09 2.46-1.34 2.46C36.1 38 36 36.38 36 35.54zM50.55 40l-1.71-3.94c1.05-.47 1.57-1.16 1.57-2.31 0-.85-.35-1.62-1.09-2.09-.66-.42-1.29-.5-2.07-.5H42.3V40h3.03v-3.48h.82L47.52 40h3.03zm-4.29-5.34h-1v-1.67h1.1c.26 0 .55 0 .78.11.27.14.43.42.43.72 0 .75-.71.84-1.31.84zM61 40v-8.84h-3.58l-1.18 4.61h-.03l-1.26-4.61h-3.57V40h2.2v-6.16L55.23 40h1.65l1.64-6.16V40H61z" />
						<path fill="#fff" fill-rule="evenodd" d="M40 14h8l-7 7 7 7h-8.4L33 21l7-7zM28 7h-8l7 7-7 7h8.4l6.6-7-7-7z" />
					</symbol>

					<use width="90" height="116" xlink:href="#reform" x="900" y="440" />
					<use width="66" height="85" xlink:href="#parking" x="570" y="270" />
					<use width="66" height="85" xlink:href="#parking" x="630" y="570" />
				</svg>

		img(src='/pic/design/compass.png' alt='' width=158 height=167).sign-compass

		.sign-metro
			include ../../dist/pic/design/ico-genplan-metro.svg
			|«Преображенская<br> площадь»
