extends ./layouts/default

block head
	- pageTitle = 'Главная страница RE|FORM'

block content
	.page(data-type='index')
		.apart-block
			.line
			.num-wrap: .num 30
			.text-wrap: .text последних апартаментов

		.discount-block
			.discount-block__text
				| Скидка
				.num -10%

		.slider-images
			.scrollbar.scrollbar-standard
				.slider-images__image.active(data-slide=0): img(src='/pic/design/preview-small-slide.jpg' width=90 height=77)
				.slider-images__image(data-slide=1): img(src='/pic/design/preview-small-slide.jpg' width=90 height=77)
				.slider-images__image(data-slide=2): img(src='/pic/design/preview-small-slide.jpg' width=90 height=77)
				.slider-images__image(data-slide=3): img(src='/pic/design/preview-small-slide.jpg' width=90 height=77)
				.slider-images__image(data-slide=4): img(src='https://placehold.it/90x77' width=90 height=77)
				.slider-images__image(data-slide=5): img(src='https://placehold.it/90x77' width=90 height=77)
				.slider-images__image(data-slide=6): img(src='https://placehold.it/90x77' width=90 height=77)
				.slider-images__image(data-slide=7): img(src='https://placehold.it/90x77' width=90 height=77)
				.slider-images__image(data-slide=8): img(src='https://placehold.it/90x77' width=90 height=77)
				.slider-images__image(data-slide=9): img(src='https://placehold.it/90x77' width=90 height=77)
				.slider-images__image(data-slide=10): img(src='https://placehold.it/90x77' width=90 height=77)

		.slider-text
			.slider-text__item <b>Современная архитектура</b> в историческом районе Москвы
			.slider-text__item <b>Современная архитектура</b> в историческом районе Москвы
			.slider-text__item <b>Современная архитектура</b> в историческом районе Москвы
			ul.dots
				li.current
				li
				li

		.slider-index.slick-stretch
			.slider-index__item(data-index=1 style={'background-image': 'url(/pic/design/sl-1.jpg)'})
			.slider-index__item(data-index=2 style={'background-image': 'url(/pic/design/sl-2.jpg)'})
			.slider-index__item(data-index=3 style={'background-image': 'url(/pic/design/sl-3.jpg)'})
			.slider-index__item(data-index=4 style={'background-image': 'url(/pic/design/sl-4.jpg)'})
			.slider-index__item(data-index=5 style={'background-image': 'url(/pic/design/sl-5.jpg)'})
			.slider-index__item(data-index=6 style={'background-image': 'url(/pic/design/sl-6.jpg)'})
			.slider-index__item(data-index=7 style={'background-image': 'url(/pic/design/sl-7.jpg)'})
			.slider-index__item(data-index=8 style={'background-image': 'url(/pic/design/sl-8.jpg)'})
			.slider-index__item(data-index=9 style={'background-image': 'url(/pic/design/sl-9.jpg)'})
			.slider-index__item(data-index=10 style={'background-image': 'url(/pic/design/sl-10.jpg)'})
			.slider-index__item(data-index=11 style={'background-image': 'url(/pic/design/sl-11.jpg)'})

		+apart-choose

		a(href='/').mortage-reform <b>REFORM</b>а ИПОТЕКИ

		.stripes
			.stripe-1
				.test-block
					ul.apart-promo
						li.apart-promo__item
							a(href='/')
								.ico.ico-time
								| <b>15 минут</b> до садового кольца
						li.apart-promo__item
							a(href='/')
								.ico.ico-metro
								| <b>5 минут</b> ходьбы до метро
						li.apart-promo__item
							a(href='/')
								.ico.ico-build
								| дома <b>построены</b>
			.stripe-2
				section.news-slider
					h3.news-slider__title: a(href='/news.html') Новости
					a(href='/news.html').news-slider__item
						img(src='https://placehold.it/77x77' width=77 height=77 alt='')
						.news-slider__date 22/09/2015
						.news-slider__text Апарт-комплекс Re:form: большим апартаментам - большие скидки!
					a(href='/news.html').news-slider__item
						img(src='https://placehold.it/77x77' width=77 height=77 alt='')
						.news-slider__date 22/09/2015
						.news-slider__text Апарт-комплекс Re:form: большим апартаментам - большие скидки!
					a(href='/news.html').news-slider__item
						img(src='https://placehold.it/77x77' width=77 height=77 alt='')
						.news-slider__date 22/09/2015
						.news-slider__text Апарт-комплекс Re:form: большим апартаментам - большие скидки!

				.map-corner
					#corner-map.map

	.full-map
		.full-map__content#full-map
		.close
