extends ./layouts/default

block head
	- pageTitle = 'Расположение RE|FORM'

block content
	.page(data-type='location')
		.stripes
			.stripe-1
				.blocks
					.block-1(data-for='routes')
						.content
							include ../../dist/pic/design/ico-routes.svg
							.block__label Маршруты
					.block-2(data-for='infra')
						.content
							include ../../dist/pic/design/ico-objects-infra.svg
							.block__label <b>Объекты</b> инфраструктуры
			.stripe-2
				.text-content
					h1 Расположение
					.scrollbar.scrollbar-arrow
						.text(data-label='default').active
							p Авторы проекта создали интересную архитектурную концепцию, предложив покупателям недвижимости пересмотреть традиционные взгляды на организацию пространства.
							p Практически в каждых апартаментах есть небольшой балкон, а начиная с 5-го этажа – можно приобрести роскошные апартаменты с потрясающими открытыми террасами площадью до 98 кв. м. Прекрасный вид на город открывается с верхних этажей, благодаря эффектному панорамному остеклению. Таким образом, необычная динамика архитектуры удачно сочетается с функциональностью.
							p Общий стиль здания – модерн с элементами ар-деко. Выразительный дизайн фасадов выполнен в лучших традициях космополитизма. Такой проект смотрелся бы органично на одной из улиц Нью-Йорка или Лондона. Тем не менее, Re:Form стал украшением старинного района Москвы.
							p Интерьеры внутренних помещений созданы в духе стильного минимализма. В данном комплексе будут установлены лифты финской компании KONE — лидера среди международных производителей лифтов. Инновационное оборудование отличается эффективностью в энергосбережении, безопасностью и плавностью хода. Кабины лифтов выполнены в современном дизайне, разработанном специально для этого проекта.
							p Входные группы этого комплекса созданы по специальному дизайн-проекту, в их оформлении нет подчеркнутой роскоши, но в отделке использованы дорогие натуральные материалы, такие, как натуральное дерево и мрамор, подчеркивающие высокий статус владельцев апартаментов.
							p Для внутренней отделки апартаментов в комплексе Re:form подойдут такие ультрамодные решения, как хай-тек, минимализм или экостиль.
							p Подробнее ознакомиться с вариантами отделки можно здесь.
						.text(data-label='routes')
							p Маршруты
						.text(data-label='infra')
							p Инфраструктура

		+apart-choose
		.location-map#location-map
