extends ./layouts/default

block head
	- pageTitle = 'Ипотека RE|FORM'

block content
	.page.back-6(data-type='mortage')
		.content
			h1 Ипотека
			.text
				p Апартаменты – новинка на рынке недвижимости России, но, тем не менее, Re:Form аккредитовали сразу несколько банков, на специальных условиях. Если вы хотите купить апартаменты в Москве по выгодной цене, но не располагаете необходимой суммой, можно взять ипотеку – «НДВ-Недвижимость» поможет в этом!
				p В рамках нынешнего предложения покупка апартаментов бизнес-класса в Re:Form становится максимально доступна. Первоначальный взнос составляет от 711 800 рублей.

			.mortage
				.mortage__actions
					a(href='/').action.action-pdf
						.svg-ico: img(src='/pic/design/ico-pdf.svg' alt='')
						| PDF
					a(href='/').action.action-pdf
						.svg-ico: img(src='/pic/design/ico-print.svg' alt='')
						| ПЕЧАТЬ
					.action.action-mail
						input(type='text')
						.button
					.social
						.social__label ПОДЕЛИТЬСЯ ССЫЛКОЙ:
						a(href='/').ico.s-vk
						a(href='/').ico.s-fb
						a(href='/').ico.s-tw
						a(href='/').ico.s-google
						a(href='/').ico.s-ok
				.mortage__table
					table(cellspacing=0 cellpadding=0)
						tr
							td Валюта
							td Рубли РФ
						tr
							td Валюта
							td Рубли РФ
						tr
							td Валюта
							td Рубли РФ
						tr
							td Валюта
							td Рубли РФ
						tr
							td Валюта
							td Рубли РФ
						tr
							td Валюта
							td Рубли РФ
						tr
							td Валюта
							td Рубли РФ
						tr
							td Валюта
							td Рубли РФ
