extends ./layouts/default

block head
	- pageTitle = 'Новости RE|FORM'

block content
	.page.back-1(data-type='news')
		.stripes
			.stripe-1

		.content
			h1 Новости
			.news-list
				.news-list__item
					a(href='/').news-list__inner
						time.date 22/09/2015
						h6.title Апарт-комплекс «Re:form»: большим апартаментам - большие скидки!
						.text В комплексе уже смонтированы три лифта и ведутся подготовительные работы к монтажу последнего  четвертого, завершается установка систем пожаротушения...
					img(src='/pic/design/news-list-stub.jpg' width=240 height=300).image
				.news-list__item
					a(href='/').news-list__inner
						time.date 22/09/2015
						h6.title Апарт-комплекс «Re:form»: большим апартаментам - большие скидки!
						.text В комплексе уже смонтированы три лифта и ведутся подготовительные работы к монтажу последнего  четвертого, завершается установка систем пожаротушения...
					img(src='/pic/design/news-list-stub.jpg' width=240 height=300).image
				.news-list__item
					a(href='/').news-list__inner
						time.date 22/09/2015
						h6.title Апарт-комплекс «Re:form»: большим апартаментам - большие скидки!
						.text В комплексе уже смонтированы три лифта и ведутся подготовительные работы к монтажу последнего  четвертого, завершается установка систем пожаротушения...
					img(src='/pic/design/news-list-stub.jpg' width=240 height=300).image
				.news-list__item
					a(href='/').news-list__inner
						time.date 22/09/2015
						h6.title Апарт-комплекс «Re:form»: большим апартаментам - большие скидки!
						.text В комплексе уже смонтированы три лифта и ведутся подготовительные работы к монтажу последнего  четвертого, завершается установка систем пожаротушения...
					img(src='/pic/design/news-list-stub.jpg' width=240 height=300).image
				.news-list__item
					a(href='/').news-list__inner
						time.date 22/09/2015
						h6.title Апарт-комплекс «Re:form»: большим апартаментам - большие скидки!
						.text В комплексе уже смонтированы три лифта и ведутся подготовительные работы к монтажу последнего  четвертого, завершается установка систем пожаротушения...
					img(src='/pic/design/news-list-stub.jpg' width=240 height=300).image
				.news-list__item
					a(href='/').news-list__inner
						time.date 22/09/2015
						h6.title Апарт-комплекс «Re:form»: большим апартаментам - большие скидки!
						.text В комплексе уже смонтированы три лифта и ведутся подготовительные работы к монтажу последнего  четвертого, завершается установка систем пожаротушения...
					img(src='/pic/design/news-list-stub.jpg' width=240 height=300).image
				.news-list__item
					a(href='/').news-list__inner
						time.date 22/09/2015
						h6.title Апарт-комплекс «Re:form»: большим апартаментам - большие скидки!
						.text В комплексе уже смонтированы три лифта и ведутся подготовительные работы к монтажу последнего  четвертого, завершается установка систем пожаротушения...
					img(src='/pic/design/news-list-stub.jpg' width=240 height=300).image

			.pagination
				span.pagination__page.current: a(href='/') 1
				span.pagination__page: a(href='/') 2
				span.pagination__page: a(href='/') 3
				span.pagination__ellipsis &hellip;
				span.pagination__page: a(href='/') 5
				span.pagination__page: a(href='/') 6
				span.pagination__ellipsis &hellip;
				span.pagination__page: a(href='/') 10
				span.pagination__page: a(href='/') 11

		.control
			span.control__prev Предыдущая
			span.control__next Следующая
