extends ./layouts/default

block head
	- pageTitle = 'Новости детальная RE|FORM'

block content
	.page.back-1(data-type='news')
		.content
			.news-detail
				h1.news-detail__title Апарт-комплекс «Re:form»: большим апартаментам - большие скидки!
				.news-detail__content
					.news-detail__image: img(src='/pic/design/news-list-stub.jpg' width=240 height=300)
					.scrollbar.scrollbar-arrow
						.news-detail__date 12/02/2015
						.news-detail__text
							p: b Только до середины октября на ограниченный объем из пяти апартаментов, площадью больше 100 квадратных метров, введена скидка 10%, позволяющая сэкономить до 2,8 млн рублей. Чтобы воспользоваться предложением, клиенту необходимо внести 100% оплату за приобретаемую недвижимость.
							p Для тех, кто задумывается о выгодном приобретении апартаментов меньшего метража, в комплексе также предусмотрены 3% и 7% скидки. Максимальная выгода в таком случае составит 960 000 рублей. Кроме того, при единовременной оплате апартаментов и машиноместа, скидка распространяется не только на квартиру, но и на приобретаемое машиноместо.
							p Апарт-комплекс «Re:form» - это новостройка высокой степени готовности, расположенная всего в 2-х минутах от станции метро «Преображенская площадь». На выбор покупателей представлены 36 апартаментов со свободной планировкой и метражом от 36 до 149 кв.м. Проект отличают не только современные архитектурные решения, но и высокое качество инженерии, соответствующее уровню бизнес-класса. На первых этажах расположатся все необходимые объекты инфраструктуры, а ниже уровня земли – отапливаемый подземный паркинг.
							p Узнать все подробности о скидках и акциях, можно у наших специалистов в любом из офисов продаж, а также позвонив по телефону +7 (495) 988-44-22.

			.back-link <a href='/'>К новостям</a>

		.stripes
			.stripe-1
