extends ./layouts/default

block head
	- pageTitle = 'Участники RE|FORM'

block content
	.page.back-3(data-type='partners')
		.stripes
			.stripe-1
				.content
					h1 Участники
					.scrollbar.scrollbar-arrow
						.partner-description(data-index=1).active
							p <em>Эксклюзивный агент по реализации – компания «НДВ-Недвижимость»</em>
							p Лидер по продаже новостроек Москвы и Московской области работает в формате «Супермаркет недвижимости». Клиенты компании могут не только приобрести квартиру в одном из лучших объектов на территории столицы и округа, но и решить другие вопросы. При необходимости специалисты «НДВ-Недвижимость» помогут подобрать наиболее выгодную ипотечную программу, обменяют старую квартиру на новостройку, оформят страхование, найдут арендатора для новой недвижимости и сделают дизайн-проект жилья.
							p Офисы компании расположены по всей Москве и открыты 7 дней в неделю, поэтому клиенты могут выбрать наиболее удобное время, чтобы получить консультацию и оформить сделку. Специалисты юридического департамента и опытные менеджеры помогут решить любые спорные вопросы.
						.partner-description(data-index=2)
							p <em>2Эксклюзивный агент по реализации – компания «НДВ-Недвижимость»</em>
							p Лидер по продаже новостроек Москвы и Московской области работает в формате «Супермаркет недвижимости». Клиенты компании могут не только приобрести квартиру в одном из лучших объектов на территории столицы и округа, но и решить другие вопросы. При необходимости специалисты «НДВ-Недвижимость» помогут подобрать наиболее выгодную ипотечную программу, обменяют старую квартиру на новостройку, оформят страхование, найдут арендатора для новой недвижимости и сделают дизайн-проект жилья.
							p Офисы компании расположены по всей Москве и открыты 7 дней в неделю, поэтому клиенты могут выбрать наиболее удобное время, чтобы получить консультацию и оформить сделку. Специалисты юридического департамента и опытные менеджеры помогут решить любые спорные вопросы.
						.partner-description(data-index=3)
							p <em>3Эксклюзивный агент по реализации – компания «НДВ-Недвижимость»</em>
							p Лидер по продаже новостроек Москвы и Московской области работает в формате «Супермаркет недвижимости». Клиенты компании могут не только приобрести квартиру в одном из лучших объектов на территории столицы и округа, но и решить другие вопросы. При необходимости специалисты «НДВ-Недвижимость» помогут подобрать наиболее выгодную ипотечную программу, обменяют старую квартиру на новостройку, оформят страхование, найдут арендатора для новой недвижимости и сделают дизайн-проект жилья.
							p Офисы компании расположены по всей Москве и открыты 7 дней в неделю, поэтому клиенты могут выбрать наиболее удобное время, чтобы получить консультацию и оформить сделку. Специалисты юридического департамента и опытные менеджеры помогут решить любые спорные вопросы.
							p Офисы компании расположены по всей Москве и открыты 7 дней в неделю, поэтому клиенты могут выбрать наиболее удобное время, чтобы получить консультацию и оформить сделку. Специалисты юридического департамента и опытные менеджеры помогут решить любые спорные вопросы.
							p Офисы компании расположены по всей Москве и открыты 7 дней в неделю, поэтому клиенты могут выбрать наиболее удобное время, чтобы получить консультацию и оформить сделку. Специалисты юридического департамента и опытные менеджеры помогут решить любые спорные вопросы.
							p Офисы компании расположены по всей Москве и открыты 7 дней в неделю, поэтому клиенты могут выбрать наиболее удобное время, чтобы получить консультацию и оформить сделку. Специалисты юридического департамента и опытные менеджеры помогут решить любые спорные вопросы.
				.partners-logo
					.partner(data-for=1).active: img(src='/pic/design/partner-ndv.png' alt='НДВ-Недвижимость')
					.partner(data-for=2): img(src='/pic/design/partner-engineering.png' alt='ВФ Инжиниринг')
					.partner(data-for=3): img(src='/pic/design/partner-kolizei.png' alt='Колизей')
